<div class="container-fluid">
    <div class="row">
     
      <div class="box">
        <div class="box-header with-border, text-center">
            <h3 style="background-color:DodgerBlue;"><strong>Acompanhamento de Rede </strong></h3>
        </div>
  
        <table class="table table-hover table-bordered" >
          <tbody>
          <tr>
            <th style="text-align: center;">Rede </th>
            <th style="text-align: center;">Arquivos</th>
            <th style="text-align: center;">Acompanhamento Spotfire </th>
          </tr>
                      
          <tr>
            <td style="overflow: hidden; width: 150px; text-align: center;">Datacenter</td>
            <td style="overflow: hidden; width: 130px; text-align: center;"></td>
            <td style="overflow: hidden; width: 220px; text-align: center; "><a href="https://sso.bam.bb.com.br/spotfire/wp/OpenAnalysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Redes/PLC_PODs">PLC&nbsp;-&nbsp;Redes</a></td>
          </tr>
          
          <tr>
             <td style="overflow: hidden; width: 150px; text-align: center;">Basiléia *</td>
             <td style="overflow: hidden; width: 150px; text-align: center;"><a  routerLink="/inicio/basileia-rede"> Basiléia</a></td>  
             <td style="overflow: hidden; width: 220px; text-align: center; "><a href="https://sso.bam.bb.com.br/spotfire/wp/OpenAnalysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Redes/PLC_PODs">PLC&nbsp;-&nbsp;Redes</a></td>
          </tr>

          <tr>
              <td style="overflow: hidden; width: 150px; text-align: center;">BBWorldnet **</td>
              <td style="overflow: hidden; width: 150px; text-align: center;"><a  routerLink="/inicio/bbworldnet">BBWorldnet</a></td>  
              <td style="overflow: hidden; width: 220px; text-align: center;"><a href="https://sso.bam.bb.com.br/spotfire/wp/analysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Redes/PLC_PODs&waid=IdY2003c3Eaw9PRJhb094-072218b618---d&wavid=0">PLC BBWorldnet</a></td>
          </tr>
          
           <tr>
              <td style="overflow: hidden; width: 150px; text-align: center;">Compe Executante</td>
              <td style="overflow: hidden; width: 150px; text-align: center;"><a  routerLink="/inicio/compe-rede">Compe</a></td>  
              <td style="overflow: hidden; width: 220px; text-align: center;"><a href="https://bam.bb.com.br/spotfire/wp/render/fTZ7yvbZgcw1wunyqD/analysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Redes/PLC_extranet&amp;waid=pAvp6VBh6kibcBeUP0QAd-2519426620m0cM&amp;wavid=0">PLC Extranet</a></td>
           </tr>
  
            <tr>
                <td style="overflow: hidden; width: 150px; text-align: center;">Extranet e RSFN</td>
                <td style="overflow: hidden; width: 150px; text-align: center;"><a  routerLink="/inicio/extranet-rsfn">Extranet e RSFN</a></td> 
                <td style="overflow: hidden; width: 220px; text-align: center;"><a href="https://sso.bam.bb.com.br/spotfire/wp/render/fTZ7yvbZgcw1wunyqD/analysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Redes/PLC_extranet&amp;waid=pAvp6VBh6kibcBeUP0QAd-2519426620m0cM&amp;wavid=0">PLC Extranet</a></td>
            </tr>

            <tr>
                <td style="overflow: hidden; width: 150px; text-align: center;">Bovespa</td>
                <td style="overflow: hidden; width: 150px; text-align: center;"><a  routerLink="/inicio/bovespa">Bovespa</a></td> 
                <td style="overflow: hidden; width: 220px; text-align: center;"><a href="https://sso.bam.bb.com.br/spotfire/wp/render/fTZ7yvbZgcw1wunyqD/analysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Redes/PLC_extranet&amp;waid=pAvp6VBh6kibcBeUP0QAd-2519426620m0cM&amp;wavid=0">PLC Extranet</a></td>
            </tr>

            <tr>
                <td style="overflow: hidden; width: 150px; text-align: center;">Rede Acesso á Internet</td>
                <td style="overflow: hidden; width: 150px; text-align: center;"><a  routerLink="/inicio/acesso-internet">Acesso Internet</a></td>  
                <td style="overflow: hidden; width: 220px; text-align: center;"><a href="https://sso.bam.bb.com.br/spotfire/wp/OpenAnalysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Redes/PLC_PODs">PLC&nbsp;Rede&nbsp;Acesso</a></td>            
            </tr>      

            <tr>
                <td style="overflow: hidden; width: 150px; text-align: center;">Remus ***</td>
                <td style="overflow: hidden; width: 150px; text-align: center;"><a  routerLink="/inicio/remus"> Remus</a> </td>  
                <td style="overflow: hidden; width: 220px; text-align: center;">Não publicado</td>            
            </tr>        
          </tbody>
      </table>
    </div>
  </div>
</div> 

      <p dir="ltr">&nbsp;</p>

      <p dir="ltr">* O Planejamento de Capacidade de Basileia está presente no painel PLC PODs dentro do planejamento do POD5.</p>
      
      <p dir="ltr">** O Planejamento de Capacidade de Rede da BBWorldNet está presente no painel PLC PODs.</p>
      
      <p dir="ltr">*** Devido à não entrega dos dados pelas Operadoras, não há como realizar o acompanhamento da rede Remus.</p>
      

     