<p dir="ltr">O objetivo deste relatório é acompanhar utilização dos links da Rede Internet, como forma de monitorar se o dimensionamento dos equipamentos e recursos do canal possibilita um nível de serviço satisfatório (sem ultrapassar os limites de capacidade).</p>

<div class="container-fluid">
    <div class="row">
     
      <div class="box">
        <div class="box-header with-border, text-center">
            <h3 style="background-color:DodgerBlue;"><strong>Relatórios de Planejamento de Capacidade</strong></h3>
        </div>
  
      <table class="table table-bordered " >
          <tbody>
          <tr>
            <th style="text-align: center;">Mês</th>
            <th style="text-align: center;">Rede Acesso à Internet 2017</th>            
          </tr>
          
          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Janeiro</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="b3196e7a-f311-4d8e-b510-ddbeacc7c86b" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/b3196e7a-f311-4d8e-b510-ddbeacc7c86b/media/PLC_RE_Internet_0117.pdf" target="_blank" title="Fazer Download de PLC_RE_Internet_0117.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" /><strong> PLC_RE_Internet_0117.pdf</strong></a></td>
          </tr>
           
          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Fevereiro</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="50cb26ac-54bb-46e5-8acb-4db38ff6a943" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/50cb26ac-54bb-46e5-8acb-4db38ff6a943/media/PLC_RE_Internet_0217.pdf" target="_blank" title="Fazer Download de PLC_RE_Internet_0217.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" /><strong> PLC_RE_Internet_0217.pdf</strong></a></td>
          </tr>
               
          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Março</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="792798b7-64a9-48bf-92ae-4c7a3c45f490" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/792798b7-64a9-48bf-92ae-4c7a3c45f490/media/PLC_RE_Internet_0317.pdf" target="_blank" title="Fazer Download de PLC_RE_Internet_0317.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" /><strong> PLC_RE_Internet_0317.pdf</strong></a></td>
          </tr>
           
          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Abril</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="4de656e7-e77d-4212-812c-4f4e4ccb596b" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/4de656e7-e77d-4212-812c-4f4e4ccb596b/media/PLC_RE_Internet_0417.pdf" target="_blank" title="Fazer Download de PLC_RE_Internet_0417.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" /> <strong>PLC_RE_Internet_0417.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Maio</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="3d9a3996-b133-4e28-bcf1-b338b0a3f377" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/3d9a3996-b133-4e28-bcf1-b338b0a3f377/media/PLC_RE_Internet_0517.pdf" target="_blank" title="Fazer Download de PLC_RE_Internet_0517.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" /><strong> PLC_RE_Internet_0517.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Junho</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="966394eb-8a54-473a-bbee-30a5111184f8" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/966394eb-8a54-473a-bbee-30a5111184f8/media/PLC_RE_Internet_0617.pdf" target="_blank" title="Fazer Download de PLC_RE_Internet_0617.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" /><strong> PLC_RE_Internet_0617.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Julho</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="ed58e366-119e-4022-af37-2f25ef0da721" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/ed58e366-119e-4022-af37-2f25ef0da721/media/PLC_RE_Internet_0717.pdf" target="_blank" title="Fazer Download de PLC_RE_Internet_0717.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" />&nbsp;<strong>PLC_RE_Internet_0717.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Agosto</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="8d35cd44-1bbe-426d-9656-ad767fac344a" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/8d35cd44-1bbe-426d-9656-ad767fac344a/media/PLC_RE_Internet_0817.pdf" target="_blank" title="Fazer Download de PLC_RE_Internet_0817.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" />&nbsp;<strong>PLC_RE_Internet_0817.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Setembro</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="fc2ff69c-7557-4903-9f20-abf1896d150c" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/fc2ff69c-7557-4903-9f20-abf1896d150c/media/PLC_RE_Internet_0917.pdf" target="_blank" title="Fazer Download de PLC_RE_Internet_0917.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" />&nbsp;<strong>PLC_RE_Internet_0917.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Outubro</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="438f93bb-061f-4478-af27-e11fd57c8728" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/438f93bb-061f-4478-af27-e11fd57c8728/media/PLC_RE_Internet_1017.pdf" target="_blank" title="Fazer Download de PLC_RE_Internet_1017.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" />&nbsp;<strong>PLC_RE_Internet_1017.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Novembro</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="9e5fb8b8-55ab-4d5c-a76f-2bca11d46bc7" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/9e5fb8b8-55ab-4d5c-a76f-2bca11d46bc7/media/PLC_RE_Internet_1117.pdf" target="_blank" title="Fazer Download de PLC_RE_Internet_1117.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" />P<strong>LC_RE_Internet_1117.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Dezembro</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="977fec53-17c6-48af-be0c-be6b5fe95001" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/977fec53-17c6-48af-be0c-be6b5fe95001/media/PLC_RE_Internet_1217.pdf" target="_blank" title="Fazer Download de PLC_RE_Internet_1217.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" /><strong>PLC_RE_Internet_1217.pdf</strong></a></td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>


<div class="box">
  <div class="box-header with-border, text-center">
</div>

  <table class="table table-bordered " >
      <tbody>
        <tr>
          <th style="text-align: center;">Mês</th>
          <th style="text-align: center;">Rede Acesso à Internet 2018</th>            
        </tr>
     

      <tr>
        <td style="overflow: hidden; width: 90px; text-align: center;">Dezembro</td>
        <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="67c2e413-164c-485e-aafa-af294f284cd6" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/67c2e413-164c-485e-aafa-af294f284cd6/media/PLC_RE_Internet_0118.pdf" target="_blank" title="Fazer Download de PLC_RE_Internet_0118.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" /><strong>PLC_RE_Internet_0118.pdf</strong></a></td>
      </tr>

  </table>
  </div>
</div>

