

<p dir="ltr">&nbsp;</p>

<p dir="ltr">&nbsp;</p>

<table align="center" border="1" dir="ltr" height="440" width="1254">
	<tbody>
		<tr>
			<td rowspan="14" style="width: 10px; text-align: center; background-color: rgb(0, 153, 255);">
			<p dir="rtl"><strong><span style="font-size: 18px;">2</span></strong></p>

			<p><strong><span style="font-size:18px;">0</span></strong></p>

			<p><strong><span style="font-size:18px;">1</span></strong></p>

			<p><strong><span style="font-size:18px;">7</span></strong></p>
			</td>
			<td rowspan="2" style="width: 0px; text-align: center; background-color: rgb(0, 153, 255);"><strong><span style="font-size:large">Período</span></strong></td>
			<td colspan="3" style="width: 0px; text-align: center; background-color: rgb(0, 153, 255);"><strong><span style="font-size:large">Infraestrutura de TI</span></strong></td>
		</tr>
		<tr>
			<td style="width: 0px; text-align: center; background-color: rgb(0, 153, 255);"><strong><span style="font-size:larger">Acompanhamento</span></strong></td>
			<td style="width: 0px; text-align: center; background-color: rgb(0, 153, 255);"><strong><span style="font-size:larger">Relatório Compe</span></strong></td>
			<td style="width: 0px; text-align: center; background-color: rgb(0, 153, 255);">
			<p><strong><span style="font-size:larger">Relatório Geral</span></strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 0px;">Janeiro</td>
			<td style="width: 0px; text-align: center;"><a href="/wikis/form/api/wiki/606882d9-8093-44d9-a17e-e66187940303/page/c490e24d-a78b-4105-a942-1525aad59f80/attachment/8a7aa56f-c985-438b-bf98-e6bd40dcc196/media/ACP_MF_COMPE_0117.pdf" lconnwikiparamwikiattachment="ACP_MF_COMPE_0117.pdf" target="_blank">ACP_MF_COMPE_0117</a></td>
			<td colspan="1" rowspan="6" style="width: 0px; text-align: center;"><a _ic_files_uuid="27d694bc-f6d5-4843-92c5-e7bf2ddb1bbd" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/27d694bc-f6d5-4843-92c5-e7bf2ddb1bbd/media/PLC_MF_COMPE_0117.pdf" target="_blank" title="Fazer Download de PLC_MF_COMPE_0117.pdf">PLC_MF_COMPE_0117</a></td>
			<td colspan="1" rowspan="6" style="width: 0px;">
			<p style="text-align: center;"><a _ic_files_uuid="fb31cd26-1d27-48fb-b5b5-e298c590f497" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/fb31cd26-1d27-48fb-b5b5-e298c590f497/media/PLC_MF_DISCO_1216.pdf" target="_blank" title="Fazer Download de PLC_MF_DISCO_1216.pdf">PLC_MF_DISCO_0117</a></p>

			<p style="text-align: center;"><a _ic_files_uuid="656bb600-b366-4b60-b127-2c58c6cc96c1" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/656bb600-b366-4b60-b127-2c58c6cc96c1/media/PLC_MF_Software_0117.pdf" target="_blank" title="Fazer Download de PLC_MF_Software_0117.pdf">PLC_MF_Software_0117</a></p>
			</td>
		</tr>
		<tr>
			<td style="width: 0px;">Fevereiro</td>
			<td style="width: 0px; text-align: center;"><a _ic_files_uuid="96eeb417-8512-49d1-a61e-28457d98f68d" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/96eeb417-8512-49d1-a61e-28457d98f68d/media/ACP_MF_COMPE_0217.pdf" target="_blank" title="Fazer Download de ACP_MF_COMPE_0217.pdf">ACP_MF_COMPE_0217</a></td>
		</tr>
		<tr>
			<td style="width: 0px;">Março</td>
			<td style="width: 0px; text-align: center;"><a _ic_files_uuid="63b7bbd5-a866-4b6c-9e79-0aae45e9c0d5" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/63b7bbd5-a866-4b6c-9e79-0aae45e9c0d5/media/ACP_MF_COMPE_0317.pdf" target="_blank" title="Fazer Download de ACP_MF_COMPE_0317.pdf">ACP_MF_COMPE_0317</a></td>
		</tr>
		<tr>
			<td style="width: 0px;">Abril</td>
			<td style="width: 0px; text-align: center;"><a _ic_files_uuid="7a498bdd-4b45-4c76-a37c-51438d6376ae" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/7a498bdd-4b45-4c76-a37c-51438d6376ae/media/ACP_MF_COMPE_0417.pdf" target="_blank" title="Fazer Download de ACP_MF_COMPE_0417.pdf">ACP_MF_COMPE_0417</a></td>
		</tr>
		<tr>
			<td style="width: 0px;">Maio</td>
			<td colspan="1" rowspan="8" style="width: 0px; text-align: center;"><a href="https://bam.bb.com.br/spotfire/wp/render/830251543493/analysis?file=/[Restrita]/VITEC/UOS/GESIT/Plan%20Cap/Mainframe/Acompanhamento%20-%20COMPE" target="_blank">*ACP&nbsp;-&nbsp;PLC_MF_COMPE</a><br />
			&nbsp;</td>
		</tr>
		<tr>
			<td style="width: 0px;">Junho</td>
		</tr>
		<tr>
			<td style="width: 0px;">Julho</td>
			<td colspan="1" rowspan="6" style="width: 0px; text-align: center;">
			<p>&nbsp;</p>

			<p>&nbsp;</p>

			<p><a _ic_files_uuid="a1f7a089-09dd-4beb-857a-fb9362d3c5b5" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/a1f7a089-09dd-4beb-857a-fb9362d3c5b5/media/PLC_MF_COMPE_0717.pdf" target="_blank" title="Fazer Download de PLC_MF_COMPE_0717.pdf">PLC_MF_COMPE_0717</a></p>

			<p>&nbsp;</p>
			</td>
			<td colspan="1" rowspan="6" style="width: 0px;">
			<p style="text-align: center;"><a _ic_files_uuid="9b140c88-0b56-4c6e-bb54-52bf54ace914" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/9b140c88-0b56-4c6e-bb54-52bf54ace914/media/PLC_MF_DISCO_0617.pdf" target="_blank" title="Fazer Download de PLC_MF_DISCO_0617.pdf">PLC_MF_DISCO_0717</a></p>

			<p style="text-align: center;"><a _ic_files_uuid="45d65c6d-0f20-4879-ace4-d32521a56464" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/45d65c6d-0f20-4879-ace4-d32521a56464/media/PLC_MF_Software_0717_v2.pdf" target="_blank" title="Fazer Download de PLC_MF_Software_0717_v2.pdf">PLC_MF_Software_0717</a></p>
			</td>
		</tr>
		<tr>
			<td style="width: 0px;">Agosto</td>
		</tr>
		<tr>
			<td style="width: 0px;">Setembro</td>
		</tr>
		<tr> 
			<td style="width: 0px;">Outubro</td>
		</tr>
		<tr>
			<td style="width: 0px;">Novembro</td>
		</tr>
		<tr>
			<td style="width: 0px;">Dezembro</td>
		</tr>
	</tbody>
</table>

<p dir="ltr">&nbsp;</p>

<table align="center" border="1" dir="ltr" height="431" style="width: 1254px;" width="1582">
	<tbody>
		<tr>
			<td rowspan="14" style="text-align: center; background-color: rgb(0, 153, 255); width: 35px;">
			<p><strong><span style="font-size:18px;">2</span></strong></p>

			<p><strong><span style="font-size:18px;">0 </span></strong></p>

			<p><strong><span style="font-size:18px;">1</span></strong></p>

			<p><strong><span style="font-size:18px;">6</span></strong></p>
			</td>
			<td rowspan="2" style="width: 250.8px; text-align: center; background-color: rgb(0, 153, 255);"><strong><span style="font-size:large">Período</span></strong></td>
			<td colspan="3" style="width: 250.8px; text-align: center; background-color: rgb(0, 153, 255);"><strong><span style="font-size:large">Infraestrutura de TI</span></strong></td>
			<td rowspan="2" style="width: 250.8px; text-align: center; background-color: rgb(0, 153, 255);"><strong><span style="font-size:large">Recursos Humanos e Financeiros</span></strong></td>
		</tr>
		<tr>
			<td style="width: 250.8px; text-align: center; background-color: rgb(0, 153, 255);"><strong><span style="font-size:larger">Acompanhamento</span></strong></td>
			<td style="width: 250.8px; text-align: center; background-color: rgb(0, 153, 255);"><strong><span style="font-size:larger">Relatório Compe</span></strong></td>
			<td style="width: 250.8px; text-align: center; background-color: rgb(0, 153, 255);"><strong><span style="font-size:larger">Relatório Geral</span></strong></td>
		</tr>
		<tr>
			<td style="width: 250.8px;">Janeiro</td>
			<td style="width: 250.8px;"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/00a809ea-34f8-45f1-b042-564fbbe98d13/media/ACP_MF_COMPE_0116.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de ACP_MF_COMPE_0116.pdf" uuid="00a809ea-34f8-45f1-b042-564fbbe98d13">Acompanhamento Mensal COMPE_0116</a></td>
			<td colspan="1" rowspan="6" style="width: 250.8px; text-align: center;"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/ac4ccd43-470d-4c01-854d-044a0768ed02/media/PLC_MF_COMPE_0116.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de PLC_MF_COMPE_0116.pdf" uuid="ac4ccd43-470d-4c01-854d-044a0768ed02">PLC_MF_COMPE_0116</a></td>
			<td colspan="1" rowspan="6" style="width: 250.8px;">
			<p style="text-align: center;"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/3f8d2c5d-104a-4446-b59b-bdd637e1c32a/media/PLC_MF_DISCO_0116.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de PLC_MF_DISCO_0116.pdf" uuid="3f8d2c5d-104a-4446-b59b-bdd637e1c32a">PLC Disco</a></p>

			<p style="text-align: center;"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/b4815e8f-59b3-4def-ad2c-66194a685994/media/PLC%20Software%20Maiframe_Jan-2014x.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de PLC Software Maiframe_Jan-2014x.pdf" uuid="b4815e8f-59b3-4def-ad2c-66194a685994">PLC Software</a></p>
			</td>
			<td style="width: 250.8px; text-align: center;"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/c36b45a4-f385-4d4f-9e76-f11daf2c8414/media/01_-_Compe_Exec_-_Sint%C3%A9tico_-_Jan_2016.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de 01_-_Compe_Exec_-_Sintético_-_Jan_2016.pdf" uuid="c36b45a4-f385-4d4f-9e76-f11daf2c8414">01 - 2016 Custo TI - COMPE Executante</a></td>
		</tr>
		<tr>
			<td style="width: 250.8px;">Fevereiro</td>
			<td style="width: 250.8px;"><span class="internal"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/00a809ea-34f8-45f1-b042-564fbbe98d13/media/ACP_MF_COMPE_0116.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de ACP_MF_COMPE_0116.pdf" uuid="00a809ea-34f8-45f1-b042-564fbbe98d13">Acompanhamento Mensal </a><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/2a6bdb0f-6ed8-48e8-a5e3-dc2c582fcbb6/media/ACP_MF_COMPE_0216.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de ACP_MF_COMPE_0216.pdf" uuid="2a6bdb0f-6ed8-48e8-a5e3-dc2c582fcbb6">COMPE_0216</a></span></td>
			<td style="width: 250.8px; text-align: center;"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/ea49f285-a739-45a7-9c28-deb7e25d4ef6/media/02_-_Compe_Exec_-_Sint%C3%A9tico_-_Fev_2016.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de 02_-_Compe_Exec_-_Sintético_-_Fev_2016.pdf" uuid="ea49f285-a739-45a7-9c28-deb7e25d4ef6">02 - 2016 Custo TI - COMPE Executante</a></td>
		</tr>
		<tr>
			<td style="width: 250.8px;">Março</td>
			<td style="width: 250.8px;"><span class="internal"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/00a809ea-34f8-45f1-b042-564fbbe98d13/media/ACP_MF_COMPE_0116.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de ACP_MF_COMPE_0116.pdf" uuid="00a809ea-34f8-45f1-b042-564fbbe98d13">Acompanhamento&nbsp;Mensal&nbsp;COMPE_0316</a></span></td>
			<td style="width: 250.8px; text-align: center;"><a href="/wikis/form/api/wiki/606882d9-8093-44d9-a17e-e66187940303/page/c490e24d-a78b-4105-a942-1525aad59f80/attachment/0bec59bc-bdf3-4cc5-8804-fe8279d22db0/media/03%20-%202016%20Custos%20de%20TI%20-%20Executante" lconnwikiparamwikiattachment="03 - 2016 Custos de TI - Executante">03 - 2016 Custo TI - COMPE Executante</a></td>
		</tr>
		<tr>
			<td style="width: 250.8px;">Abril</td>
			<td style="width: 250.8px;"><span class="internal"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/00a809ea-34f8-45f1-b042-564fbbe98d13/media/ACP_MF_COMPE_0116.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de ACP_MF_COMPE_0116.pdf" uuid="00a809ea-34f8-45f1-b042-564fbbe98d13">Acompanhamento&nbsp;Mensal COMPE_0416</a></span></td>
			<td style="width: 250.8px; text-align: center;"><a href="/wikis/home#!/wiki/W76247a1dc5f7_4b04_958c_ee7b3794e174/page/03%20-%202016%20Custo%20TI%20-%20COMPE%20Executante" lconnwikimacro="wikilink" lconnwikiparamwikipage="03 - 2016 Custo TI - COMPE Executante">04 - 2016 </a><a href="/wikis/form/api/wiki/606882d9-8093-44d9-a17e-e66187940303/page/c490e24d-a78b-4105-a942-1525aad59f80/attachment/d798f907-33bc-4c8b-bc31-b9b0df836bb5/media/Relat%C3%B3rio%20de%20Custos%20de%20TI%20-%2004.2016.pdf" lconnwikiparamwikiattachment="Relatório de Custos de TI - 04.2016.pdf">Custo TI - COMPE Executante</a></td>
		</tr>
		<tr>
			<td style="width: 250.8px;">Maio</td>
			<td style="width: 250.8px;"><span class="internal"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/00a809ea-34f8-45f1-b042-564fbbe98d13/media/ACP_MF_COMPE_0116.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de ACP_MF_COMPE_0116.pdf" uuid="00a809ea-34f8-45f1-b042-564fbbe98d13">Acompanhamento&nbsp;Mensal COMPE_0516</a></span></td>
			<td style="width: 250.8px; text-align: center;"><a href="/wikis/form/api/wiki/606882d9-8093-44d9-a17e-e66187940303/page/c490e24d-a78b-4105-a942-1525aad59f80/attachment/fd6f62dd-af59-4985-834d-841f1be7044d/media/05%20-%202016%20%20Custos%20de%20TI%20-%20Executante" lconnwikiparamwikiattachment="05 - 2016  Custos de TI - Executante">05 - 2016 Custo TI - COMPE Executante</a></td>
		</tr>
		<tr>
			<td style="width: 250.8px;">Junho</td>
			<td style="width: 250.8px;"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/77a494b9-2b9b-47bb-bd83-cd74795a613f/media/ACP_MF_COMPE_0616.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de ACP_MF_COMPE_0616.pdf" uuid="77a494b9-2b9b-47bb-bd83-cd74795a613f">Acompanhamento&nbsp;Mensal&nbsp;COMPE_0616</a></td>
			<td style="width: 250.8px; text-align: center;"><a href="/wikis/form/api/wiki/606882d9-8093-44d9-a17e-e66187940303/page/c490e24d-a78b-4105-a942-1525aad59f80/attachment/3921e36b-7c6d-4a5d-b8f0-250e00fdb684/media/06%20-%202016%20Custos%20de%20TI%20-%20Executante" lconnwikiparamwikiattachment="06 - 2016 Custos de TI - Executante">06 - 2016 Custo TI - COMPE Executante</a></td>
		</tr>
		<tr>
			<td style="width: 250.8px;">Julho</td>
			<td style="width: 250.8px;"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/31ceb782-af1e-438f-bd8c-2556355eaa14/media/ACP_MF_COMPE_0716.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de ACP_MF_COMPE_0716.pdf" uuid="31ceb782-af1e-438f-bd8c-2556355eaa14">Acompanhamento&nbsp;Mensal&nbsp;COMPE_0716</a></td>
			<td colspan="1" rowspan="6" style="width: 250.8px; text-align: center;">
			<p><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/2ff59835-1c5b-4a40-bb84-bf1831beba4e/media/PLC_MF_COMPE_0216.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de PLC_MF_COMPE_0216.pdf" uuid="2ff59835-1c5b-4a40-bb84-bf1831beba4e">PLC_MF_COMPE_0216</a></p>

			<p>&nbsp;</p>

			<p><a href="/wikis/form/api/wiki/606882d9-8093-44d9-a17e-e66187940303/page/c490e24d-a78b-4105-a942-1525aad59f80/attachment/66d563ed-1b41-4ff8-a61e-b52a41ef508a/media/PLC_MF_COMPE_0316.pdf" lconnwikiparamwikiattachment="PLC_MF_COMPE_0316.pdf">PLC_MF_COMPE_0316</a></p>
			</td>
			<td colspan="1" rowspan="6" style="width: 250.8px;">
			<p style="text-align: center;"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/e74b3acd-f274-42f4-91b9-69837d7b392d/media/PLC_MF_DISCO_0616.pdf" ic="ic" source="files" target="_blank" text="undefined" title="Fazer Download de PLC_MF_DISCO_0616.pdf" uuid="e74b3acd-f274-42f4-91b9-69837d7b392d">PLC Disco</a></p>

			<p style="text-align: center;"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/d3e24bc1-a3b4-4b27-8fa7-3c579a82c835/media/PLC_MF_Software_0716.pdf" ic="ic" source="files" target="_blank" text="undefined" title="Fazer Download de PLC_MF_Software_0716.pdf" uuid="d3e24bc1-a3b4-4b27-8fa7-3c579a82c835">PLC Software</a></p>
			</td>
			<td style="width: 250.8px; text-align: center;"><a href="/wikis/form/api/wiki/606882d9-8093-44d9-a17e-e66187940303/page/c490e24d-a78b-4105-a942-1525aad59f80/attachment/11bc94cc-6b2e-48b9-a31d-59da2b58c92b/media/07%20-%202016%20%20Custos%20de%20TI%20-%20Executante" lconnwikiparamwikiattachment="07 - 2016  Custos de TI - Executante">07 - 2015 Custo TI - COMPE Executante</a></td>
		</tr>
		<tr>
			<td style="width: 250.8px;">Agosto</td>
			<td style="width: 250.8px;"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/29c2f345-3fc7-4b83-9b6e-1a40bef26b4a/media/ACP_MF_COMPE_0816.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de ACP_MF_COMPE_0816.pdf" uuid="29c2f345-3fc7-4b83-9b6e-1a40bef26b4a">Acompanhamento&nbsp;Mensal&nbsp;COMPE_0816</a></td>
			<td style="width: 250.8px; text-align: center;"><a href="/wikis/form/api/wiki/606882d9-8093-44d9-a17e-e66187940303/page/c490e24d-a78b-4105-a942-1525aad59f80/attachment/bb54a845-0642-4a99-af17-85fbeb2cd021/media/08%20-%202016%20Custos%20de%20TI%20-%20Executante" lconnwikiparamwikiattachment="08 - 2016 Custos de TI - Executante">08 - 2016 Custo TI - COMPE Executante</a></td>
		</tr>
		<tr>
			<td style="width: 250.8px;">Setembro</td>
			<td style="width: 250.8px;"><a files="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/2e413213-1b9b-494d-afec-1ee430581af5/media/ACP_MF_COMPE_0916.pdf" ic="ic" source="files" target="_blank" title="Fazer Download de ACP_MF_COMPE_0916.pdf" uuid="2e413213-1b9b-494d-afec-1ee430581af5">Acompanhamento&nbsp;Mensal&nbsp;COMPE_0916</a></td>
			<td style="width: 250.8px; text-align: center;"><a href="/wikis/form/api/wiki/606882d9-8093-44d9-a17e-e66187940303/page/c490e24d-a78b-4105-a942-1525aad59f80/attachment/cba2435e-1dbd-4f06-9eb4-b5427afae088/media/Relat%C3%B3rio%20de%20Custos%20de%20TI%20-%2009.2016.pdf" lconnwikiparamwikiattachment="Relatório de Custos de TI - 09.2016.pdf" target="_blank">09 - 2016 Custo TI - COMPE Executante</a></td>
		</tr>
		<tr>
			<td style="width: 250.8px;">Outubro</td>
			<td style="width: 250.8px;"><span class="internal"><a href="/wikis/form/api/wiki/606882d9-8093-44d9-a17e-e66187940303/page/c490e24d-a78b-4105-a942-1525aad59f80/attachment/09eab0ee-67cd-44f7-986e-61b5a197625c/media/ACP_MF_COMPE_1016.pdf" lconnwikiparamwikiattachment="ACP_MF_COMPE_1016.pdf">Acompanhamento Mensal COMPE_1016</a></span></td>
			<td style="width: 250.8px; text-align: center;"><a href="/wikis/form/api/wiki/606882d9-8093-44d9-a17e-e66187940303/page/c490e24d-a78b-4105-a942-1525aad59f80/attachment/433fe713-d08e-47a8-ba8e-0b3bc7da0b85/media/Relat%C3%B3rio%20de%20Custos%20de%20TI%20-%2010.2016.pdf" lconnwikiparamwikiattachment="Relatório de Custos de TI - 10.2016.pdf" target="_blank">10 - 2016 Custo TI - COMPE Executante</a></td>
		</tr>
		<tr>
			<td style="width: 250.8px;">Novembro</td>
			<td style="width: 250.8px;"><a _ic_files_uuid="42cf261d-4bf8-42af-8831-749d367313fd" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/42cf261d-4bf8-42af-8831-749d367313fd/media/ACP_MF_COMPE_1116.pdf" target="_blank" title="Fazer Download de ACP_MF_COMPE_1116.pdf">Acompanhamento Mensal COMPE_1116</a></td>
			<td style="width: 250.8px; text-align: center;"><a href="/wikis/form/api/wiki/606882d9-8093-44d9-a17e-e66187940303/page/c490e24d-a78b-4105-a942-1525aad59f80/attachment/67ee7471-0eb0-4cdf-ac5f-ee3dab64ef21/media/Relat%C3%B3rio%20de%20Custos%20de%20TI%20-%2011.2016.pdf" lconnwikiparamwikiattachment="Relatório de Custos de TI - 11.2016.pdf" target="_blank">11 - 2016 Custo TI - COMPE Executante</a></td>
		</tr>
		<tr>
			<td style="width: 250.8px;">Dezembro</td>
			<td style="width: 250.8px;"><a _ic_files_uuid="0652250d-946d-45bb-910f-2ccfdb7558cc" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/0652250d-946d-45bb-910f-2ccfdb7558cc/media/ACP_MF_COMPE_1216.pdf" target="_blank" title="Fazer Download de ACP_MF_COMPE_1216.pdf">Acompanhamento Mensal COMPE_1216</a></td>
			<td style="width: 250.8px; text-align: center;"><a href="/wikis/form/api/wiki/606882d9-8093-44d9-a17e-e66187940303/page/c490e24d-a78b-4105-a942-1525aad59f80/attachment/3d6fb691-6264-4e24-8d46-c7cd5893abf9/media/Relat%C3%B3rio%20de%20Custos%20de%20TI%20-%2012.2016.pdf" lconnwikiparamwikiattachment="Relatório de Custos de TI - 12.2016.pdf">12 - 2016 Custo TI - COMPE Executante</a></td>
		</tr>
	</tbody>
</table>

<p dir="ltr"><br />
&nbsp;</p>

