<div class="container-fluid">
  <div class="row">
   
      <div class="box">
          <div class="box-header with-border, text-center">              
            <h3 style="background-color:DodgerBlue;"><strong>Gestão de Capacidade - GESIT 92 </strong></h3>
        </div>
       
        <div class="box">
          <div class="box-header with-border, text-center">
            <h3 class="box-title"><strong>ACPs e PLCs</strong></h3>          
        </div>

        
        <table class="table table-hover table-bordered">
          <tbody>
            <tr>
              <th></th>
              <th><strong>Serviço</strong></th>
              <th>LINK</th>
            </tr>

            <tr>
              <td rospan="3" class="text-center"> <strong>HIGH END</strong></td>
              <td>
                <ul>
                  <li class="text-left">BI DW</li>
                  <li class="text-left">DAT-Rio</li>
                  <li class="text-left">Extranet</li>
                  <li class="text-left">Internet</li>
                  <li class="text-left">Basileia</li>
                  <li class="text-left">Intranet</li>
                  <li class="text-left">CABB RJ-SLV</li>
                  <li class="text-left">CABB SJP</li>
                  <li class="text-left">CABB SP</li>
                  <li class="text-left">Sisredex</li>
                  <li class="text-left">Getin Ásia</li>
                  <li class="text-left">Fitoteca</li>
                  <li class="text-left">Datacenter</li>
                  <li class="text-left">AS400</li>
                </ul>
              </td>
               <td class="text-left"> <a href="https://sso.bam.bb.com.br/spotfire/wp/analysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/ACP_PLC&waid=U0Wpd8Bwc0CWRCOh3Cw3d-130838d616ViwK&wavid=0">Painéis de Capacidade do Ambiente High End <span style="color: rgb(255, 0, 0);">*</span></a></td>   
            </tr>
          
            <tr>
                <td rowspan="7" class="text-center"><strong>MAINFRAME</strong></td>                
                <td>
                <ul>
                  <li class="text-left">COMPE</li>
                 </ul>
                </td> 
                  <td class="text-left">  
                    <p class="text-left"> <a href="https://sso.bam.bb.com.br/spotfire/wp/analysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Mainframe/Acompanhamento%20-%20COMPE&waid=nmvCde9iuUm8J027kRVV6-2610286e1csvib&wavid=0/">Relatório de Acompanhamento da COMPE - A partir de maio de 2017</a></p>    
                    <a  routerLink="/inicio/compe"> Relatório de Acompanhamento da COMPE - Anos Anteriores</a>
                  </td>   
            </tr>

              <tr>
                <td>
                  <ul>
                    <li>CIP</li>
                   </ul>
                  </td> 
                    <td class="text-left"> 
                      <p class="text-left"> <a href="https://sso.bam.bb.com.br/spotfire/wp/analysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Mainframe/Acompanhamento%20-%20CIP&waid=E6ey7RVjHkCSULyh4eYKe-011656b618mddI&wavid=0">Relatório de Acompanhamento da CIP - A partir de maio de 2017</a></p>    
                      <a  routerLink="/inicio/cip"> Relatório de Acompanhamento da CIP - Anos Anteriores</a>                   
                    </td>   
                </tr>

                <tr >
                    <td>
                    <ul>
                      <li>Processamento - HARDWARE</li>
                     </ul>
                    </td> 
                      <td class="text-left"> 
                        <p class="text-left"> <a href="https://sso.bam.bb.com.br/spotfire/wp/analysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Mainframe/Hardware_Acompanhamento&waid=RXNaMpN6y0Gk_qDBecvGl-2610286e1csvib&wavid=0/">Relatório de Acompanhamento de Hardware - A partir de maio de 2017</a></p>    
                        <a  routerLink="/inicio/hardware"> Relatório de Acompanhamento de Hardware - Anos Anteriores</a>                
                      </td>   
                </tr>  
                 <tr>
                   
                      <td>
                      <ul>
                        <li>Processamento - SOFTWARE</li>
                       </ul>
                      </td> 
                        <td class="text-left">                         
                          <a  routerLink="/inicio/software"> Relatório de Acompanhamento Software</a>                
                        </td>   
                  </tr>  
               
                    <tr >
                    
                        <td>
                        <ul>
                          <li>Armazenamento - FITOTECA</li>
                         </ul>
                        </td> 
                          <td class="text-left"> 
                            <p class="text-left"> <a href="https://sso.bam.bb.com.br/spotfire/wp/analysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Mainframe/ARMAZENAMENTO%20MAINFRAME/ACP_MF_Fitoteca&waid=0kR0Zuyq7kOyi3T4q8X71-022128a619m8d7&wavid=0">Relatório de Acompanhamento da Fitoteca - A partir de setembro de 2018</a></p>    
                            <a  routerLink="/inicio/fitoteca"> Relatório de Acompanhamento da Fitoteca - Anos Anteriores</a>                
                          </td>   
                      </tr>  

                      <tr >
                      
                          <td>
                          <ul>
                            <li>Armazenamento - BASILÉIA</li>
                           </ul>
                          </td> 
                            <td class="text-left"> 
                              <p class="text-left"> <a href="https://sso.bam.bb.com.br/spotfire/wp/analysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Mainframe/ARMAZENAMENTO%20MAINFRAME/ACP_MF_BASILEIA&waid=F76krvPu5UqQ-d5wqLWiN-270027d6163dVT&wavid=0/">Relatório de Acompanhamento da Basiléia - A partir de novembro de 2017</a></p>    
                              <a  routerLink="/inicio/basileia"> Relatório de Acompanhamento da Basiléia - Anos Anteriores</a>                
                            </td>   
                        </tr>  
                        <tr >
                            <td>
                            <ul>
                              <li>Armazenamento - DISCO</li>
                             </ul>
                            </td> 
                              <td class="text-left"> 
                                <p class="text-left"> <a href="https://sso.bam.bb.com.br/spotfire/wp/analysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Mainframe/ARMAZENAMENTO%20MAINFRAME/PLC_MF_DISCO_Painel_BB&waid=lTMLg6iuF0W_latbDd0Yg-022128a619m8d7&wavid=0/">Relatório de Acompanhamento Disco - A partir de setembro de 2017</a></p>    
                                <a  routerLink="/inicio/disco"> Relatório de Acompanhamento Disco - Anos Anteriores</a>                
                              </td>   
                          </tr>  
                          <tr >
                            <td class="text-center"> <strong>REDE</strong></td>
                            <td>
                            <ul>
                              <li>Geral</li>
                             </ul>
                            </td> 
                              <td class="text-left"> 
                                <p class="text-left"> <a href="https://sso.bam.bb.com.br/spotfire/wp/OpenAnalysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Redes/PLC_PODs/">Acompanhamento de Rede - A partir de janeiro de 2018</a></p>    
                                <a  routerLink="/inicio/rede"> Acompanhamento de Rede - Anos Anteriores</a>                
                              </td>   
                          </tr>  
                
                <tr >
                  <td class="text-center"> <strong>OCIOSIDADE HIGH END</strong></td>
                  <ul>
                    <li>Controladoras de Disco</li>
                    <li>Máquinas físicas x86</li>
                   </ul>
                   <td>
                    <p class="text-left"> <a href="https://sso.bam.bb.com.br/spotfire/wp/ViewAnalysis.aspx?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/High-End/Paineis/Ociosidade%20Storage%20LUN" rel="noopener noreferrer" target="_blank">Storage LUN  </a></p>   
                    <p class="text-left"> <a href="https://sso.bam.bb.com.br/spotfire/wp/render/KpasAOwXNGa1cJFLdL/analysis?file=/[Restrita]/VITEC/UOS/GESIT/Plan Cap/High-End/Paineis/plc-acp maquinas fisicas" rel="noopener noreferrer" target="_blank">Máquinas Físicas x86 </a></p>   
                   </td>
                <tr>
                   <td colspan="4" style="width: 128px; text-align: center;"><span style="color:#000000;"><span style="font-style: bold;">Métodos </span> </span></td>
                 </tr> 
                 <tr>
                  <td colspan="4" style="width: 128px; text-align: center;"><a  routerLink="/inicio/metodos-estatisticos">Métodos Estatísticos</a></td>                                     
                </tr>  
                <tr>
                  <td colspan="4" style="width: 128px; text-align: center;"><a routerLink="/inicio/instrucoes-normas">Instruções - Normas - Glossário - Indicadores</a></td>
                </tr>       
                <tr>
                  <td colspan="4" style="width: 128px; text-align: center;"><span style="color:#FF0000;"><strong>* Obs: Para visualizar os Painéis no Spotfire, solicite ao seu administrador de acesso, permissão à sigla SPF, Transação SPFGPMU1</strong>. </span></td>
                </tr>
          </tbody>
        </table>
</div>
</div>





