<div class="container-fluid">
		<div class="row">
		 
			<div class="box">
				<div class="box-header with-border, text-center">
					<h3 style="background-color:DodgerBlue;"><strong>Acompanhamento Fitoteca </strong></h3>
			  </div>
	
			<table class="table table-bordered " >
				<tbody>					
			<tr>
              <td colspan="2" style="overflow: hidden; width: 250px; text-align: center;" ><span style="font-size:16px;"><strong>2018</strong></span></td>
			</tr>
			<tr>
            
            <td style="overflow: hidden; width: 250px; text-align: center;">Janeiro</td>
			  <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="43e2d67d-2ccd-4f32-ab81-ea0dae685ba1" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/43e2d67d-2ccd-4f32-ab81-ea0dae685ba1/media/ACP_Software_0118.pdf" target="_blank" title="Fazer Download de ACP_Software_0118.pdf"><strong>ACP_MF_FITOTECA_0118</strong></a></td>
			</tr>
			<tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Fevereiro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="643110f2-9b05-4be1-97af-7cf267441b44" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/643110f2-9b05-4be1-97af-7cf267441b44/media/ACP_MF_FITOTECA_0218.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0218.pdf"><strong>ACP_MF_FITOTECA_0218</strong></a></td>
            </tr>
            <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Março</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="437aef34-e2b5-4c53-af1b-f8fcd3190896" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/437aef34-e2b5-4c53-af1b-f8fcd3190896/media/ACP_MF_FITOTECA_0318.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0318.pdf"><strong>ACP_MF_FITOTECA_0318</strong></a></td>
            </tr>
            <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Abril</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="6092f2d2-8c5c-4743-b550-31f6bf9d8512" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/6092f2d2-8c5c-4743-b550-31f6bf9d8512/media/ACP_MF_FITOTECA_0418.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0418.pdf"><strong>ACP_MF_FITOTECA_0418</strong></a></td>
            </tr>
            <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Maio</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="a14217e7-a230-489c-98b2-611fd8bd0412" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/a14217e7-a230-489c-98b2-611fd8bd0412/media/ACP_MF_FITOTECA_0518.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0518.pdf"><strong>ACP_MF_FITOTECA_0518</strong></a></td>
            </tr>
            <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Junho</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="997d0495-72eb-40f0-8bce-9e9617ebbeb8" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/cc28d5bd-90bc-48dd-bc45-6eefdaea0eb0/document/997d0495-72eb-40f0-8bce-9e9617ebbeb8/media/ACP_MF_FITOTECA_0618.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0618.pdf"><strong>ACP_MF_FITOTECA_0618</strong></a></td>
            </tr>
            <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Julho</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="4541a7bf-9ec7-4fde-8c7a-b0aace1c557c" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/b539b846-85ce-44d4-806c-72c3ff87a848/document/4541a7bf-9ec7-4fde-8c7a-b0aace1c557c/media/ACP_MF_FITOTECA_0718.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0718.pdf"><strong>ACP_MF_FITOTECA_0718</strong></a></td>
            </tr>
           <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Agosto</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="2f20cbdd-2378-4cdb-91c1-806818bae195" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/b539b846-85ce-44d4-806c-72c3ff87a848/document/2f20cbdd-2378-4cdb-91c1-806818bae195/media/ACP_MF_FITOTECA_0818.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0818.pdf"><strong>ACP_MF_FITOTECA_0818</strong></a></td>
           </tr>
            				                                              
            <tr>
              <td colspan="2" style="overflow: hidden; width: 250px; text-align: center;" ><span style="font-size:16px;"><strong>2017</strong></span></td>
            </tr>

            <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Janeiro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="043be966-ca14-4deb-9565-5588d4b0324f" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/043be966-ca14-4deb-9565-5588d4b0324f/media/ACP_MF_FITOTECA_0117.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0117.pdf"><strong>ACP_MF_FITOTECA_0117</strong></a></td>
            </tr>
            <tr>
               <td style="overflow: hidden; width: 250px; text-align: center;">Fevereiro</td>
               <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="af2a258e-b0f8-45d7-85c7-4da14030ea14" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/af2a258e-b0f8-45d7-85c7-4da14030ea14/media/ACP_MF_FITOTECA_0217.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0217.pdf"><strong>ACP_MF_FITOTECA_0217</strong></a></td>
            </tr>    
            <tr>
               <td style="overflow: hidden; width: 250px; text-align: center;">Março</td>
               <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="a4ad60e-6fb6-4240-b3de-6148a620d8a8" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/fa4ad60e-6fb6-4240-b3de-6148a620d8a8/media/ACP_MF_FITOTECA_0317.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0317.pdf"><strong>ACP_MF_FITOTECA_0317</strong></a></td>
            </tr> 
            <tr>
                <td style="overflow: hidden; width: 250px; text-align: center;">Abril</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="bc6f5380-ae85-4cbe-948c-e6f36f0bf758" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/bc6f5380-ae85-4cbe-948c-e6f36f0bf758/media/ACP_MF_FITOTECA_0417.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0417.pdf"><strong>ACP_MF_FITOTECA_0417</strong></a></td>
            </tr>
            <tr>
               <td style="overflow: hidden; width: 250px; text-align: center;">Maio</td>
               <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="c966ee6a-bdd2-4302-8957-e25a3047d833" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/c966ee6a-bdd2-4302-8957-e25a3047d833/media/ACP_MF_FITOTECA_0517.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0517.pdf"><strong>ACP_MF_FITOTECA_0517</strong></a></td>
            </tr>
            <tr>
                <td style="overflow: hidden; width: 250px; text-align: center;">Junho</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="15e4f21e-a88f-4d98-9869-385169e542fe" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/15e4f21e-a88f-4d98-9869-385169e542fe/media/ACP_MF_FITOTECA_0617.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0617.pdf"><strong>ACP_MF_FITOTECA_0617</strong></a></td>
           </tr>
           <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Julho</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="350bb8d8-caa2-4399-a910-5ed99217044f" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/350bb8d8-caa2-4399-a910-5ed99217044f/media/ACP_MF_FITOTECA_0717.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0717.pdf"><strong>ACP_MF_FITOTECA_0717</strong></a></td>
           </tr>
           <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Agosto</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="1bfc4a69-f03c-444f-9588-07e3a2b09bd7" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/1bfc4a69-f03c-444f-9588-07e3a2b09bd7/media/ACP_MF_FITOTECA_0817.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0817.pdf"><strong>ACP_MF_FITOTECA_0817</strong></a></td>
           </tr>
           <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Setembro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="4a08220e-ccd2-43a9-acfb-a4766eba0de0" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/4a08220e-ccd2-43a9-acfb-a4766eba0de0/media/ACP_MF_FITOTECA_0917.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0917.pdf"><strong>ACP_MF_FITOTECA_0917</strong></a></td>
           </tr>
          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Outubro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="861fd5ff-3fe0-46fc-aeca-e0bac93c7438" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/861fd5ff-3fe0-46fc-aeca-e0bac93c7438/media/ACP_MF_FITOTECA_1017.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_1017.pdf"><strong>ACP_MF_FITOTECA_1017</strong></a></td>
          </tr>
          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Novembro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="d774e4fe-7d86-4b81-800f-ad6eede627b4" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/b539b846-85ce-44d4-806c-72c3ff87a848/document/d774e4fe-7d86-4b81-800f-ad6eede627b4/media/ACP_MF_FITOTECA_1117.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_1117.pdf"><strong>ACP_MF_FITOTECA_1117</strong></a></td>
          </tr>
          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Dezembro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="200e8807-e59b-4bdc-8888-fe138009cb59" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/b539b846-85ce-44d4-806c-72c3ff87a848/document/200e8807-e59b-4bdc-8888-fe138009cb59/media/ACP_MF_FITOTECA_1217.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_1217.pdf"><strong>ACP_MF_FITOTECA_1217</strong></a></td>
          </tr>
          <tr>
              <td colspan="2" style="overflow: hidden; width: 250px; text-align: center;" ><span style="font-size:16px;"><strong>2016</strong></span></td>
          </tr>

          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Janeiro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="2c5992d2-3916-4ab4-86cf-95bf4ef0d962" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/2c5992d2-3916-4ab4-86cf-95bf4ef0d962/media/ACP_MF_FITOTECA_0116.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0116.pdf"><strong>ACP_MF_FITOTECA_0116</strong></a></td>
          </tr>
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Fevereiro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="a7d4ddd0-1b03-44d4-8d78-36f751565fe3" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/a7d4ddd0-1b03-44d4-8d78-36f751565fe3/media/ACP_MF_FITOTECA_0216.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0216.pdf"><strong>ACP_MF_FITOTECA_0216</strong></a></td>
          </tr>    
          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Março</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="fbae08a1-5721-4e56-8670-a0c97f58732f" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/fbae08a1-5721-4e56-8670-a0c97f58732f/media/ACP_MF_FITOTECA_0316.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0316.pdf"><strong>ACP_MF_FITOTECA_0316</strong></a></td>
          </tr> 
          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Abril</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="b8436b27-b344-40a6-9a49-6a6ef7ea2bd3" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/b8436b27-b344-40a6-9a49-6a6ef7ea2bd3/media/ACP_MF_FITOTECA_0416.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0416.pdf"><strong>ACP_MF_FITOTECA_0416</strong></a></td>
          </tr>
          <tr>
                <td style="overflow: hidden; width: 250px; text-align: center;">Maio</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="318e2b4b-7287-439a-ac01-c8c23540d3aa" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/318e2b4b-7287-439a-ac01-c8c23540d3aa/media/ACP_MF_FITOTECA_0516.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0516.pdf"><strong>ACP_MF_FITOTECA_0516</strong></a></td>
          </tr>
          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Junho</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="bd39748a-5ca9-4c47-afec-54bb9bd247a0" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/bd39748a-5ca9-4c47-afec-54bb9bd247a0/media/ACP_MF_FITOTECA_0616.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0616.pdf"><strong>ACP_MF_FITOTECA_0616</strong></a></td>
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Julho</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="9bbb92fe-64c9-4697-90de-1c105f96e9ef" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/9bbb92fe-64c9-4697-90de-1c105f96e9ef/media/ACP_MF_FITOTECA_0716v2.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0716v2.pdf"><strong>ACP_MF_FITOTECA_0716</strong></a></td>
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Agosto</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="bb1a1014-370e-40db-8f35-f3cf6adc8abb" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/bb1a1014-370e-40db-8f35-f3cf6adc8abb/media/ACP_MF_FITOTECA_0816.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0816.pdf"><strong>ACP_MF_FITOTECA_0816</strong></a></td>
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Setembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="4d82930e-e901-45a1-b7eb-ec669de5df47" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/4d82930e-e901-45a1-b7eb-ec669de5df47/media/ACP_MF_FITOTECA_0916.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_0916.pdf"><strong>ACP_MF_FITOTECA_0916</strong></a></td>
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Outubro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="fc4bd71c-2e8c-45b3-82cd-3ae5311f4beb" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/fc4bd71c-2e8c-45b3-82cd-3ae5311f4beb/media/ACP_MF_FITOTECA_1016.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_1016.pdf"><strong>ACP_MF_FITOTECA_1016</strong></a></td>
        </tr>
        <tr >
            <td style="overflow: hidden; width: 250px; text-align: center;">Novembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="6cd08104-bbc5-4b41-8804-71f322293338" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/6cd08104-bbc5-4b41-8804-71f322293338/media/ACP_MF_FITOTECA_1116.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_1116.pdf"><strong>ACP_MF_FITOTECA_1116</strong></a></td>
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Dezembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="d7578de3-88b5-4168-b125-4aa7ae83dbc4" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/d7578de3-88b5-4168-b125-4aa7ae83dbc4/media/ACP_MF_FITOTECA_1216.pdf" target="_blank" title="Fazer Download de ACP_MF_FITOTECA_1216.pdf"><strong>ACP_MF_FITOTECA_1216</strong></a></td>
					</tbody>
				</table>
			</div>
	</div>