<div class="container-fluid">
		<div class="row">
		 
			<div class="box">
				<div class="box-header with-border, text-center">
						<h3 style="background-color:DodgerBlue;"><strong>Acompanhamento Basiléia </strong></h3>
			  </div>
	
			<table class="table table-bordered " >
			  <tbody>					
			<tr>
                <td colspan="2" style="overflow: hidden; width: 250px; text-align: center;" ><span style="font-size:16px;"><strong>2017</strong></span></td>
            </tr>

            <tr>
                <td style="overflow: hidden; width: 250px; text-align: center;">Janeiro</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="ede0d1d2-fa37-4723-8d35-6a6b1fd64d01" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/ede0d1d2-fa37-4723-8d35-6a6b1fd64d01/media/ACP_MF_BASIL%C3%89IA_0117.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0117.pdf"><strong>ACP_MF_BASILÉIA_0117</strong></a></td>
            </tr>
            <tr>
                <td style="overflow: hidden; width: 250px; text-align: center;">Fevereiro</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="fdd92446-7ac3-4b31-b7c1-56fde38632e9" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/fdd92446-7ac3-4b31-b7c1-56fde38632e9/media/ACP_MF_BASIL%C3%89IA_0217.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0217.pdf"><strong>ACP_MF_BASILÉIA_0217</strong></a></td>
            </tr>    
            <tr>
                <td style="overflow: hidden; width: 250px; text-align: center;">Março</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="93b90a31-6f28-4370-9f57-e1c1e4b8f1e2" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/93b90a31-6f28-4370-9f57-e1c1e4b8f1e2/media/ACP_MF_BASIL%C3%89IA_0317.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0317.pdf"><strong>ACP_MF_BASILÉIA_0317</strong></a></td>
            </tr> 
            <tr>
                <td style="overflow: hidden; width: 250px; text-align: center;">Abril</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="5ca8222d-92a2-4d76-90af-5a9974583e18" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/5ca8222d-92a2-4d76-90af-5a9974583e18/media/ACP_MF_BASIL%C3%89IA_0417.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0417.pdf"><strong>ACP_MF_BASILÉIA_0417</strong></a></td>
            </tr>
            <tr>
                  <td style="overflow: hidden; width: 250px; text-align: center;">Maio</td>
                  <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="4d4d6373-3831-41bb-9d14-e65dcaa4f9aa" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/4d4d6373-3831-41bb-9d14-e65dcaa4f9aa/media/ACP_MF_BASIL%C3%89IA_0517.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0517.pdf"><strong>ACP_MF_BASILÉIA_0517</strong></a></td>
            </tr>
            <tr>
                <td style="overflow: hidden; width: 250px; text-align: center;">Junho</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="bd86e98a-2a11-4f7f-be55-8d0363c43697" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/bd86e98a-2a11-4f7f-be55-8d0363c43697/media/ACP_MF_BASIL%C3%89IA_0617.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0617.pdf"><strong>ACP_MF_BASILÉIA_0617</strong></a></td>
          </tr>
          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Julho</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="771e229b-9bc9-4c62-a9e0-6b1315ffe226" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/771e229b-9bc9-4c62-a9e0-6b1315ffe226/media/ACP_MF_BASIL%C3%89IA_0717.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0717.pdf"><strong>ACP_MF_BASILÉIA_0717</strong></a></td>
          </tr>
          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Agosto</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="c27261f2-6aaf-4eaa-aee4-194d6a5bb54b" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/c27261f2-6aaf-4eaa-aee4-194d6a5bb54b/media/ACP_MF_BASIL%C3%89IA_0817.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0817.pdf"><strong>ACP_MF_BASILÉIA_0817</strong></a></td>
          </tr>
          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Setembro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="c011ac5c-2f9e-4815-80cc-d38627952b6d" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/c011ac5c-2f9e-4815-80cc-d38627952b6d/media/ACP_MF_BASIL%C3%89IA_0917.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0917.pdf"><strong>ACP_MF_BASILÉIA_0917</strong></a></td>
          </tr>
          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Outubro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="b19da7cf-3a3a-45ab-b274-737477ff442d" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/b19da7cf-3a3a-45ab-b274-737477ff442d/media/ACP_MF_BASIL%C3%89IA_1017.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_1017.pdf"><strong>ACP_MF_BASILÉIA_1017</strong></a></td>
          </tr>
          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Novembro</td>
              <td colspan="1" rowspan="2" style="overflow: hidden; width: 250px; text-align: center;"><a href="https://sso.bam.bb.com.br/spotfire/wp/render/828498324740/analysis?file=/[Restrita]/VITEC/UOS/GESIT/Plan%20Cap/Mainframe/ARMAZENAMENTO%20MAINFRAME/ACP_MF_BASILEIA"><strong>ACP_MF_BASILÉIA</strong></a></td>
          </tr>
          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Dezembro</td>             
          </tr>
          <tr >
              <td colspan="2" style="overflow: hidden; width: 250px; text-align: center;" ><span style="font-size:16px;"><strong>2016</strong></span></td>
          </tr>

          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Janeiro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="e7db2223-c694-4c04-adf3-a937c25bdc48" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/e7db2223-c694-4c04-adf3-a937c25bdc48/media/ACP_MF_BASIL%C3%89IA_0116.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0116.pdf"><strong>ACP_MF_BASILÉIA_0116</strong></a></td>
          </tr>
          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Fevereiro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="72736b81-4173-4440-97e9-e2abc14a0c2d" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/72736b81-4173-4440-97e9-e2abc14a0c2d/media/PLC_MF_BASIL%C3%89IA_0216.pdf" target="_blank" title="Fazer Download de PLC_MF_BASILÉIA_0216.pdf"><strong>PLC_MF_BASILÉIA_0216</strong></a></td>
          </tr>    
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Março</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="3d9d6f86-ecc5-462c-b497-d026abce350a" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/3d9d6f86-ecc5-462c-b497-d026abce350a/media/ACP_MF_BASIL%C3%89IA_0316.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0316.pdf"><strong>ACP_MF_BASILÉIA_0316</strong></a></td>
          </tr> 
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Abril</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="e1893fdc-54f9-4d6a-a1aa-9295f664889f" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/e1893fdc-54f9-4d6a-a1aa-9295f664889f/media/ACP_MF_BASIL%C3%89IA_0416.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0416.pdf"><strong>ACP_MF_BASILÉIA_0416</strong></a></td>
          </tr>
          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Maio</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="63f190a0-b107-4bd5-bb57-f9147589711c" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/63f190a0-b107-4bd5-bb57-f9147589711c/media/ACP_MF_BASIL%C3%89IA_0516.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0516.pdf"><strong>ACP_MF_BASILÉIA_0516</strong></a></td>
          </tr>
          <tr>
              <td style="overflow: hidden; width: 250px; text-align: center;">Junho</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="d013cdc4-922a-418b-8e75-10073a949c12" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/d013cdc4-922a-418b-8e75-10073a949c12/media/ACP_MF_BASIL%C3%89IA_0616.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0616.pdf"><strong>ACP_MF_BASILÉIA_0616</strong></a></td>
          </tr>
          <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Julho</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="9bcb6d45-83b9-4668-87fb-6ff8d5b03877" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/9bcb6d45-83b9-4668-87fb-6ff8d5b03877/media/ACP_MF_BASIL%C3%89IA_0716.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0716.pdf"><strong>ACP_MF_BASILÉIA_0716</strong></a></td>
          </tr>
          <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Agosto</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="5965af98-e393-4607-8df8-66a4c99993f5" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/5965af98-e393-4607-8df8-66a4c99993f5/media/ACP_MF_BASIL%C3%89IA_0816.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0816.pdf"><strong>ACP_MF_BASILÉIA_0816</strong></a></td>
          </tr>
         <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Setembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="b8d448db-e81f-4fb3-8fd5-d01c0287bc0f" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/b8d448db-e81f-4fb3-8fd5-d01c0287bc0f/media/ACP_MF_BASIL%C3%89IA_0916.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_0916.pdf"><strong>ACP_MF_BASILÉIA_0916</strong></a></td>
         </tr>
         <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Outubro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="4f524c79-c14a-4c81-b600-171114cb86fa" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/4f524c79-c14a-4c81-b600-171114cb86fa/media/ACP_MF_BASIL%C3%89IA_1016.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_1016.pdf"><strong>ACP_MF_BASILÉIA_1016</strong></a></td>
         </tr>
         <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Novembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="cc2f52f7-21d3-4b56-b315-6a9caa4bc8dc" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/cc2f52f7-21d3-4b56-b315-6a9caa4bc8dc/media/ACP_MF_BASIL%C3%89IA_1116.pdf" target="_blank" title="Fazer Download de ACP_MF_BASILÉIA_1116.pdf"><strong>ACP_MF_BASILÉIA_1116</strong></a></td>
         </tr>
         <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Dezembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="8c40a12c-6eba-465c-bd70-1099b6be8e60" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/8c40a12c-6eba-465c-bd70-1099b6be8e60/media/PLC_MF_BASIL%C3%89IA_1216.pdf" target="_blank" title="Fazer Download de PLC_MF_BASILÉIA_1216.pdf"><strong>PLC_MF_BASILÉIA_1216</strong></a></td>
         </tr>

		</tbody>
		</table>
		</div>  
  </div>
  