
  <style>
    .spotfire{
      height:900px;
      margin-top:-63px;
      margin-bottom:17px ;
      margin-right:5px ;
      margin-left:-8px ;
      border: 0px;
    }

  </style>
<div class="row">
  <iframe  class="row col-md-12 spotfire" id="spotfire" src="https://bam.bb.com.br/spotfire/wp/render/fTZ7yvbZgcw1wunyqD/analysis?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Pagina_Inicial&waid=wtSsH94DBUONuxC1rD69T-101114272348WX&wavid=0">
    <p>Seu navegador não suporta iframes.
    </p>
  </iframe>
</div>
 