<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

 {{rdi}}
 
<div>
    <!-- <div class="row">
            Adição efetuada para Incidente - RDI20180058654
        </div><br>
    -->
    <br> 
   
    <div class="row">
        <div class="col-md-2">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <form action="">
                <input type="search" placeholder="Número da RDI">
                <a type="button" (click)="buscarIncidente()"><i class="fa fa-search"></i></a>
            </form>
        </div>
        <div class="col-md-8"></div>
    </div>

    <!-- <div class="col-md-8">
        <div class="input-group input-group-sm">
            <span class="input-group-btn">
                <button type="button" (click)="buscarIncidente()" class="btn btn-busca">Buscar</button>
              </span>
            <input type="text" placeholder="Número da RDI" [(ngModel)]="rdi" pInputText />
          </div>
    </div> -->
  
</div>

<app-imprimir-incidente *ngIf="incidenteRequest.bbincidente != undefined" titulo="teste" [incidente]="incidenteRequest" >componente</app-imprimir-incidente>
