<div class="container-fluid">
		<div class="row">
		 
			<div class="box">
				<div class="box-header with-border, text-center">
						<h3 style="background-color:DodgerBlue;"><strong>Acompanhamento Hardware </strong></h3>
			  </div>
	
			<table class="table table-bordered " >
				  <tbody>					
					<tr >
              <td colspan="2" style="overflow: hidden; width: 250px; text-align: center;" ><span style="font-size:16px;"><strong>2018</strong></span></td>
				  </tr>
					<tr >
            <td style="overflow: hidden; width: 250px; text-align: center;">Janeiro</td>
					  <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="6ee80089-5e70-44c1-86a0-b81ddb326c03" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/6ee80089-5e70-44c1-86a0-b81ddb326c03/media/ACP_Hardware_0118.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0118.pdf"><strong>ACP_Hardware_0118</strong></a></td>
					</tr>
					<tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Fevereiro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="cfcbb473-0ab4-4316-aad6-b9fea3702702" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/cfcbb473-0ab4-4316-aad6-b9fea3702702/media/ACP_Hardware_0218.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0218.pdf"><strong>ACP_Hardware_0218</strong></a></td>
            </tr>
            <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Março</td>
                <td colspan="1" rowspan="10" style="overflow: hidden; width: 250px; text-align: center; "><strong><a href="https://sso.bam.bb.com.br/spotfire/wp/ViewAnalysis.aspx?file=/%5BRestrita%5D/VITEC/UOS/GESIT/Plan%20Cap/Mainframe/Hardware_Acompanhamento" rel="noopener noreferrer" target="_blank">*ACP_HARDWARE_SPOTFIRE</a></strong>
              </tr>  
              <tr >
                  <td style="overflow: hidden; width: 250px; text-align: center;">Abril</td>              
              </tr>
              <tr >
                    <td style="overflow: hidden; width: 250px; text-align: center;">Maio</td>                                  
              </tr>

              <tr >
                    <td style="overflow: hidden; width: 250px; text-align: center;">Junho</td>              
              </tr>
              <tr >
                    <td style="overflow: hidden; width: 250px; text-align: center;">Julho</td>              
              </tr>
					    <tr >
                    <td style="overflow: hidden; width: 250px; text-align: center;">Agosto</td>                                  
              </tr>
              <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Setembro</td>                              
              </tr>
             <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Outubro</td>                                              
             </tr>
             <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Novembro</td>                              
             </tr>

             <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Dezembro</td>                              
             </tr>
            <tr >
                <td colspan="2" style="overflow: hidden; width: 250px; text-align: center;" ><span style="font-size:16px;"><strong>2017</strong></span></td>
            </tr>

            <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Janeiro</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="daafb870-eeec-4d01-8334-e415d4d78d2c" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/daafb870-eeec-4d01-8334-e415d4d78d2c/media/ACP_Hardware_0117.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0117.pdf"><strong>ACP_Hardware_0117</strong></a></td>
            </tr>
            <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Fevereiro</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="2e381cbc-19a5-45cf-ab3a-61f935b1856a" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/2e381cbc-19a5-45cf-ab3a-61f935b1856a/media/ACP_Hardware_0217.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0217.pdf"><strong>ACP_Hardware_0217</strong></a></td>
            </tr>    
            <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Março</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="fee107ba-6608-40d7-9b3b-9ac0b0c1f6b6" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/fee107ba-6608-40d7-9b3b-9ac0b0c1f6b6/media/ACP_Hardware_0317.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0317.pdf"><strong>ACP_Hardware_0317</strong></a></td>
            </tr> 
            <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Abril</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="cdcf15ee-e965-4c4c-871c-0610183d4965" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/cdcf15ee-e965-4c4c-871c-0610183d4965/media/ACP_Hardware_0417.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0417.pdf"><strong>ACP_Hardware_0417</strong></a></td>
            </tr>
            <tr >
                  <td style="overflow: hidden; width: 250px; text-align: center;">Maio</td>
                  <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="514897ee-b49b-4622-b0f4-0fedcef773af" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/514897ee-b49b-4622-b0f4-0fedcef773af/media/ACP_Hardware_0517.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0517.pdf"><strong>ACP_Hardware_0517</strong></a></td>
            </tr>
            <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Junho</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="2b3a2db0-29db-4093-9fa8-d5ab24560a57" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/2b3a2db0-29db-4093-9fa8-d5ab24560a57/media/ACP_Hardware_0617.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0617.pdf"><strong>ACP_Hardware_0617</strong></a></td>
          </tr>
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Julho</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="5c00fbce-4a54-4177-bae7-17074ce08e23" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/5c00fbce-4a54-4177-bae7-17074ce08e23/media/ACP_Hardware_0717.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0717.pdf"><strong>ACP_Hardware_0717</strong></a></td>
          </tr>
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Agosto</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="1e1d1ef2-152c-4835-b6a3-dfb4e9b0c0df" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/1e1d1ef2-152c-4835-b6a3-dfb4e9b0c0df/media/ACP_Hardware_0817.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0817.pdf"><strong>ACP_Hardware_0817</strong></a></td>
          </tr>
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Setembro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="05576098-010d-4173-bc85-ef0b4103a6bc" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/05576098-010d-4173-bc85-ef0b4103a6bc/media/ACP_Hardware_0917.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0917.pdf"><strong>ACP_Hardware_0917</strong></a></td>
          </tr>
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Outubro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="a1982d46-6d75-48de-b4ed-cb73d1c2395e" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/a1982d46-6d75-48de-b4ed-cb73d1c2395e/media/ACP_Hardware_1017.pdf" target="_blank" title="Fazer Download de ACP_Hardware_1017.pdf"><strong>ACP_Hardware_1017</strong></a></td>
          </tr>
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Novembro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="3445e995-b368-4750-8644-d1028fd101f0" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/3445e995-b368-4750-8644-d1028fd101f0/media/ACP_Hardware_1117.pdf" target="_blank" title="Fazer Download de ACP_Hardware_1117.pdf"><strong>ACP_Hardware_1117</strong></a></td>
          </tr>
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Dezembro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="63bab3a5-54fb-422e-ab69-20c06945be92" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/63bab3a5-54fb-422e-ab69-20c06945be92/media/ACP_Hardware_1217.pdf" target="_blank" title="Fazer Download de ACP_Hardware_1217.pdf"><strong>ACP_Hardware_1217</strong></a></td>
          </tr>
          <tr >
              <td colspan="2" style="overflow: hidden; width: 250px; text-align: center;" ><span style="font-size:16px;"><strong>2016</strong></span></td>
          </tr>

          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Janeiro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="30a36e79-d167-4449-a8ca-c28f136b1fc3" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/30a36e79-d167-4449-a8ca-c28f136b1fc3/media/ACP_Hardware_0116.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0116.pdf"><strong>ACP_Hardware_0116</strong></a></td>
          </tr>
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Fevereiro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="f85cbfb6-e1db-4012-9c53-ae04797ebad2" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/f85cbfb6-e1db-4012-9c53-ae04797ebad2/media/ACP_Hardware_0216.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0216.pdf"><strong>ACP_Hardware_0216</strong></a></td>
          </tr>    
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Março</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="790a7da8-c17b-4b58-b36d-bfd1da60fcb2" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/790a7da8-c17b-4b58-b36d-bfd1da60fcb2/media/ACP_Hardware_0316.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0316.pdf"><strong>ACP_Hardware_0316</strong></a></td>
          </tr> 
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Abril</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="6a01b767-4279-41b6-b188-4f02f51b668d" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/6a01b767-4279-41b6-b188-4f02f51b668d/media/ACP_Hardware_0416.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0416.pdf"><strong>ACP_Hardware_0416</strong></a></td>
          </tr>
          <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Maio</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="92eecdcf-b808-416c-8444-892ca4842846" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/92eecdcf-b808-416c-8444-892ca4842846/media/ACP_Hardware_0516.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0516.pdf"><strong>ACP_Hardware_0516</strong></a></td>
          </tr>
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Junho</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="f6158917-447a-4d88-8c08-21449e1b4316" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/f6158917-447a-4d88-8c08-21449e1b4316/media/ACP_Hardware_0616.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0616.pdf"><strong>ACP_Hardware_0616</strong></a></td>
        </tr>
        <tr >
            <td style="overflow: hidden; width: 250px; text-align: center;">Julho</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="4bcfdd93-d805-4757-bbb4-31662fa63a67" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/4bcfdd93-d805-4757-bbb4-31662fa63a67/media/ACP_Hardware_0716.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0716.pdf"><strong>ACP_Hardware_0716</strong></a></td>
        </tr>
        <tr >
            <td style="overflow: hidden; width: 250px; text-align: center;">Agosto</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="16594e92-7184-4a77-b9a0-ddb106a2d064" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/16594e92-7184-4a77-b9a0-ddb106a2d064/media/ACP_Hardware_0816.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0816.pdf"><strong>ACP_Hardware_0816</strong></a></td>
        </tr>
        <tr >
            <td style="overflow: hidden; width: 250px; text-align: center;">Setembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="70656d9c-4fef-4730-b33c-bb8cffce1110" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/70656d9c-4fef-4730-b33c-bb8cffce1110/media/ACP_Hardware_0916.pdf" target="_blank" title="Fazer Download de ACP_Hardware_0916.pdf"><strong>ACP_Hardware_0916</strong></a></td>
        </tr>
        <tr >
            <td style="overflow: hidden; width: 250px; text-align: center;">Outubro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="d4e8e802-cfdc-4670-9b93-dae27b92a2c4" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/d4e8e802-cfdc-4670-9b93-dae27b92a2c4/media/ACP_Hardware_1016.pdf" target="_blank" title="Fazer Download de ACP_Hardware_1016.pdf"><strong>ACP_Hardware_1016</strong></a></td>
        </tr>
        <tr >
            <td style="overflow: hidden; width: 250px; text-align: center;">Novembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="1c4e9bb3-0d13-41b0-868c-e9eecb9a1139" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/1c4e9bb3-0d13-41b0-868c-e9eecb9a1139/media/ACP_Hardware_1116.pdf" target="_blank" title="Fazer Download de ACP_Hardware_1116.pdf"><strong>ACP_Hardware_1116</strong></a></td>
        </tr>
        <tr >
            <td style="overflow: hidden; width: 250px; text-align: center;">Dezembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="bc776f8d-1dd6-4c3a-8df3-b002a9d60d55" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/bc776f8d-1dd6-4c3a-8df3-b002a9d60d55/media/ACP_Hardware_1216.pdf" target="_blank" title="Fazer Download de ACP_Hardware_1216.pdf"><strong>ACP_Hardware_1216</strong></a></td>
        </tr>
	</tbody>
	</table>
</div>
</div>