<div class="container-fluid">
  <div class="row">
   
    <div class="box">
      <div class="box-header with-border, text-center">
          <h3 style="background-color:DodgerBlue;"><strong>Acompanhamento - Software </strong></h3>
      </div>

    <table class="table table-bordered " >
        <tbody>
        <tr>
          <th style="text-align: center;">2018 </th>
          <th style="text-align: center;">Acompanhamento</th>
          <th style="text-align: center;">PLC </th>
        </tr>

        <tr>
          <td style="overflow: hidden; width: 250px; text-align: center;">Janeiro</td>
          <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="43e2d67d-2ccd-4f32-ab81-ea0dae685ba1" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/43e2d67d-2ccd-4f32-ab81-ea0dae685ba1/media/ACP_Software_0118.pdf" target="_blank" title="Fazer Download de ACP_Software_0118.pdf"><strong>ACP_Software_0118</strong></a></td>
          <td colspan="1" rowspan="6" style="text-align: center; width: 187px;"><a _ic_files_uuid="a66ebc00-b9c0-4185-bca4-c65220befe36" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/a66ebc00-b9c0-4185-bca4-c65220befe36/media/PLC_MF_Software_0118.pdf" target="_blank" title="Fazer Download de PLC_MF_Software_0118.pdf"><strong>PLC_MF_Software_0118</strong></a></td>
        </tr>
        
        <tr>
          <td style="overflow: hidden; width: 250px; text-align: center;">Fevereiro</td>
          <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="2bb56929-1977-4ae4-869e-7da4784bd26f" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/2bb56929-1977-4ae4-869e-7da4784bd26f/media/ACP_Software_0218.pdf" target="_blank" title="Fazer Download de ACP_Software_0218.pdf"><strong>ACP_Software_0218</strong></a></td>
        </tr>
        
        <tr>
          <td style="overflow: hidden; width: 250px; text-align: center;">Março</td>
          <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="84c2add1-9030-4d78-b4c4-7149618ce1af" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/84c2add1-9030-4d78-b4c4-7149618ce1af/media/ACP_Software_0318.pdf" target="_blank" title="Fazer Download de ACP_Software_0318.pdf"><strong>ACP_Software_0318</strong></a></td>
        </tr>
        
        <tr>
          <td style="overflow: hidden; width: 250px; text-align: center;">Abril</td>
          <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="3c38c921-3f45-448b-82ce-b46a68ef653d" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/3c38c921-3f45-448b-82ce-b46a68ef653d/media/ACP_Software_0418.pdf" target="_blank" title="Fazer Download de ACP_Software_0418.pdf"><strong>ACP_Software_0418</strong></a></td>
        </tr>

        <tr>
          <td style="overflow: hidden; width: 250px; text-align: center;">Maio</td>
          <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="158dfceb-9006-4494-9682-149bbf534d68" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/158dfceb-9006-4494-9682-149bbf534d68/media/ACP_Software_0518.pdf" target="_blank" title="Fazer Download de ACP_Software_0518.pdf"><strong>ACP_Software_0518</strong></a></td>
        </tr>

        <tr>
          <td style="overflow: hidden; width: 250px; text-align: center;">Junho</td>
          <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="eef4a1cc-b6a5-4a56-bfb3-9b5dca8c81ef" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/eef4a1cc-b6a5-4a56-bfb3-9b5dca8c81ef/media/ACP_Software_0618.pdf" target="_blank" title="Fazer Download de ACP_Software_0618.pdf"><strong>ACP_Software_0618</strong></a></td>
        </tr>
        
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Julho</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="9b538ac2-5040-4253-8147-50c088aab94a" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/9b538ac2-5040-4253-8147-50c088aab94a/media/ACP_Software_0718.pdf" target="_blank" title="Fazer Download de ACP_Software_0718.pdf"><strong>ACP_Software_0718</strong></a></td>
            <td colspan="1" rowspan="6" style="text-align: center;  width: 187px;">&nbsp;</td>
        </tr>

        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Agosto</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="dd44b696-e343-4447-80f1-7090b6ebfbf7" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/dd44b696-e343-4447-80f1-7090b6ebfbf7/media/ACP_Software_0818.pdf" target="_blank" title="Fazer Download de ACP_Software_0818.pdf"><strong>ACP_Software_0818</strong></a></td>
        </tr>
        
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Setembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="961e3c49-1d8f-43e0-ad15-dbcf712fbc18" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/961e3c49-1d8f-43e0-ad15-dbcf712fbc18/media/ACP_Software_0918.pdf" target="_blank" title="Fazer Download de ACP_Software_0918.pdf"><strong>ACP_Software_0918</strong></a></td>
        </tr>

        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Outubro</td>
            <td style="text-align: center; width: 192px;">&nbsp;</td>	
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Novembro</td>
            <td style="text-align: center; width: 192px;">&nbsp;</td>	            
        </tr>
        <tr >
            <td style="overflow: hidden; width: 250px; text-align: center;">Dezembro</td>
            <td style="text-align: center; width: 192px;">&nbsp;</td>	
        </tr>
        
        <tr >
          <td colspan="3" style="overflow: hidden; width: 250px; text-align: center;" ><span style="font-size:16px;"><strong>2017</strong></span></td>
        </tr>
              
              <tr>
                <td style="overflow: hidden; width: 250px; text-align: center;">Janeiro</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="a424fd00-25b6-421e-96e9-56057210cc4a" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/a424fd00-25b6-421e-96e9-56057210cc4a/media/ACP_Software_0117.pdf" target="_blank" title="Fazer Download de ACP_Software_0117.pdf"><strong>ACP_Software_0117</strong></a></td>
                <td colspan="1" rowspan="6" style="overflow: hidden; width: 164px; text-align: center;"><a _ic_files_uuid="656bb600-b366-4b60-b127-2c58c6cc96c1" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/656bb600-b366-4b60-b127-2c58c6cc96c1/media/PLC_MF_Software_0117.pdf" target="_blank" title="Fazer Download de PLC_MF_Software_0117.pdf"><strong>PLC_MF_Software_0117</strong></a></td>
              </tr>
              
              <tr>
                <td style="overflow: hidden; width: 250px; text-align: center;">Fevereiro</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="f8c1c20b-90d7-418b-a591-cb2791a3790b" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/f8c1c20b-90d7-418b-a591-cb2791a3790b/media/ACP_Software_0217.pdf" target="_blank" title="Fazer Download de ACP_Software_0217.pdf"><strong>ACP_Software_0217</strong></a></td>
              </tr>
              <tr>
                  <td style="overflow: hidden; width: 250px; text-align: center;">Março</td>
                  <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="8fc82c2e-b6a1-43d4-b9f4-b81f874084e9" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/8fc82c2e-b6a1-43d4-b9f4-b81f874084e9/media/ACP_Software_0317.pdf" target="_blank" title="Fazer Download de ACP_Software_0317.pdf"><strong>ACP_Software_0317</strong></a></td>
              </tr>
              <tr>
                  <td style="overflow: hidden; width: 250px; text-align: center;">Abril</td>
                  <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="9740d116-fe4e-469d-bf9a-30f88de3e3a1" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/9740d116-fe4e-469d-bf9a-30f88de3e3a1/media/ACP_Software_0417.pdf" target="_blank" title="Fazer Download de ACP_Software_0417.pdf"><strong>ACP_Software_0417</strong></a></td>
              </tr>
              <tr>
                  <td style="overflow: hidden; width: 250px; text-align: center;">Maio</td>
                  <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="7ee89e3b-3532-43bf-836c-5918702182d9" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/7ee89e3b-3532-43bf-836c-5918702182d9/media/ACP_Software_0517.pdf" target="_blank" title="Fazer Download de ACP_Software_0517.pdf"><strong>ACP_Software_0517</strong></a></td>
              </tr>
              <tr>
                  <td style="overflow: hidden; width: 250px; text-align: center;">Junho</td>
                  <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="35c783c9-7859-48c1-a322-70252a5b2708" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/35c783c9-7859-48c1-a322-70252a5b2708/media/ACP_Software_0617.pdf" target="_blank" title="Fazer Download de ACP_Software_0617.pdf"><strong>ACP_Software_0617</strong></a></td>
              </tr>
              <tr>
                  <td style="overflow: hidden; width: 250px; text-align: center;">Julho</td>
                  <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="5d67857c-c54d-4030-a442-d04843d4ed7a" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/5d67857c-c54d-4030-a442-d04843d4ed7a/media/ACP_Software_0717.pdf" target="_blank" title="Fazer Download de ACP_Software_0717.pdf"><strong>ACP_Software_0717</strong></a></td>
                  <td colspan="1" rowspan="6" style="overflow: hidden; width: 164px; text-align: center;"><a _ic_files_uuid="45d65c6d-0f20-4879-ace4-d32521a56464" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/45d65c6d-0f20-4879-ace4-d32521a56464/media/PLC_MF_Software_0717_v2.pdf" target="_blank" title="Fazer Download de PLC_MF_Software_0717_v2.pdf"><strong>PLC_MF_Software_0717</strong></a></td>
              </tr>
              <tr>
                  <td style="overflow: hidden; width: 250px; text-align: center;">Agosto</td>
                  <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="172bc9c8-3260-4fd5-93b9-c08810eab777" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/172bc9c8-3260-4fd5-93b9-c08810eab777/media/ACP_Software_0817.pdf" target="_blank" title="Fazer Download de ACP_Software_0817.pdf"><strong>ACP_Software_0817</strong></a></td>
              </tr>
              <tr>
                  <td style="overflow: hidden; width: 250px; text-align: center;">Setembro</td>
                  <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="5625ef17-d327-4cba-857a-763ec207ec6c" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/5625ef17-d327-4cba-857a-763ec207ec6c/media/ACP_Software_0917.pdf" target="_blank" title="Fazer Download de ACP_Software_0917.pdf"><strong>ACP_Software_0917</strong></a></td>
              </tr>
              <tr>
                  <td style="overflow: hidden; width: 250px; text-align: center;">Outubro</td>
                  <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="b5b24d05-4510-4984-9e7f-21707beb22e5" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/cc28d5bd-90bc-48dd-bc45-6eefdaea0eb0/document/b5b24d05-4510-4984-9e7f-21707beb22e5/media/ACP_Software_1017.pdf" target="_blank" title="Fazer Download de ACP_Software_1017.pdf"><strong>ACP_Software_1017</strong></a></td>
              </tr>
              <tr>
                  <td style="overflow: hidden; width: 250px; text-align: center;">Novembro</td>
                  <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="fd2f7ba2-ddbb-4b44-96e0-dcfc3c22cc38" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/cc28d5bd-90bc-48dd-bc45-6eefdaea0eb0/document/fd2f7ba2-ddbb-4b44-96e0-dcfc3c22cc38/media/ACP_Software_1117.pdf" target="_blank" title="Fazer Download de ACP_Software_1117.pdf"><strong>ACP_Software_1117</strong></a></td>
              </tr>
              <tr>
                  <td style="overflow: hidden; width: 250px; text-align: center;">Dezembro</td>
                  <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="24594222-e615-4bf9-936b-a3243d923aa4" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/cc28d5bd-90bc-48dd-bc45-6eefdaea0eb0/document/24594222-e615-4bf9-936b-a3243d923aa4/media/ACP_Software_1217.pdf" target="_blank" title="Fazer Download de ACP_Software_1217.pdf"><strong>ACP_Software_1217</strong></a></td>
              </tr>
              <tr >
                <td colspan="3" style="overflow: hidden; width: 250px; text-align: center;" ><span style="font-size:16px;"><strong>2016</strong></span></td>
            </tr>     
     
        
        <tr>
          <td style="overflow: hidden; width: 250px; text-align: center;">Janeiro</td>
          <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="e5518043-c790-4a92-90a6-2bd634dde21a" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/e5518043-c790-4a92-90a6-2bd634dde21a/media/ACP_Software_0116.pdf" target="_blank" title="Fazer Download de ACP_Software_0116.pdf"><strong>ACP_Software_0116</strong></a></td>
          <td colspan="1" rowspan="6" style="overflow: hidden; width: 164px; text-align: center;"><a _ic_files_uuid="6f6c5563-bcfc-4147-b7f7-29b431ab4238" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/6f6c5563-bcfc-4147-b7f7-29b431ab4238/media/PLC%20Software%20Maiframe_Jan-2016.pdf" target="_blank" title="Fazer Download de PLC Software Maiframe_Jan-2016.pdf"><strong>PLC_MF_Software_012016</strong></a></td>
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Fevereiro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="280c943c-5361-4b54-ae7f-852e46db60c9" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/280c943c-5361-4b54-ae7f-852e46db60c9/media/ACP_Software_0216.pdf" target="_blank" title="Fazer Download de ACP_Software_0216.pdf"><strong>ACP_Software_0216</strong></a></td>
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Março</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="cf898452-3d4d-46f5-acc1-e2577927bb71" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/cf898452-3d4d-46f5-acc1-e2577927bb71/media/ACP_Software_0316.pdf" target="_blank" title="Fazer Download de ACP_Software_0316.pdf"><strong>ACP_Software_0316</strong></a></td>
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Abril</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="bf554f28-ad49-4721-a732-d3a5bd24c8f8" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/bf554f28-ad49-4721-a732-d3a5bd24c8f8/media/ACP_Software_0416.pdf" target="_blank" title="Fazer Download de ACP_Software_0416.pdf"><strong>ACP_Software_0416</strong></a></td>
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Maio</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="bcecb1cf-9d65-4075-a712-270ca7ed94cc" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/bcecb1cf-9d65-4075-a712-270ca7ed94cc/media/ACP_Software_0516.pdf" target="_blank" title="Fazer Download de ACP_Software_0516.pdf"><strong>ACP_Software_0516</strong></a></td>
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Junho</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="e7b82b30-6afe-47cd-bfd9-8c09fb510cfe" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/e7b82b30-6afe-47cd-bfd9-8c09fb510cfe/media/ACP_Software_0616.pdf" target="_blank" title="Fazer Download de ACP_Software_0616.pdf"><strong>ACP_Software_0616</strong></a></td>
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Julho</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="9090a238-9176-4eb5-9a95-c71cb23839d4" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/9090a238-9176-4eb5-9a95-c71cb23839d4/media/ACP_Software_0716.pdf" target="_blank" title="Fazer Download de ACP_Software_0716.pdf"><strong>ACP_Software_0716</strong></a></td>
            <td colspan="1" rowspan="6" style="overflow: hidden; width: 164px; text-align: center;"><a _ic_files_uuid="d3e24bc1-a3b4-4b27-8fa7-3c579a82c835" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/d3e24bc1-a3b4-4b27-8fa7-3c579a82c835/media/PLC_MF_Software_0716.pdf" target="_blank" title="Fazer Download de PLC_MF_Software_0716.pdf"><strong>PLC_MF_Software_0716</strong></a></td>
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Agosto</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="a60c3cbb-29c8-400f-808a-88b4f7568de2" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/a60c3cbb-29c8-400f-808a-88b4f7568de2/media/ACP_Software_0816.pdf" target="_blank" title="Fazer Download de ACP_Software_0816.pdf"><strong>ACP_Software_0816</strong></a></td>
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Setembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="4979afec-d3c0-4f4d-b404-8b64fde23e02" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/4979afec-d3c0-4f4d-b404-8b64fde23e02/media/ACP_Software_0916.pdf" target="_blank" title="Fazer Download de ACP_Software_0916.pdf"><strong>ACP_Software_0916</strong></a></td>
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Outubro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="6407ebbb-560c-49f4-8d5f-d272961bf229" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/6407ebbb-560c-49f4-8d5f-d272961bf229/media/ACP_Software_1016.pdf" target="_blank" title="Fazer Download de ACP_Software_1016.pdf"><strong>ACP_Software_1016</strong></a></td>
        </tr>
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Novembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="a49b1222-2d97-4f4c-94d9-75abddeeddc5" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/a49b1222-2d97-4f4c-94d9-75abddeeddc5/media/ACP_Software_1116.pdf" target="_blank" title="Fazer Download de ACP_Software_1116.pdf"><strong>ACP_Software_1116</strong></a></td>
        </tr>   
        <tr>
            <td style="overflow: hidden; width: 250px; text-align: center;">Dezembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="d31a12dc-c81b-4f8a-a67c-aeb4d7a7bf5b" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/d31a12dc-c81b-4f8a-a67c-aeb4d7a7bf5b/media/ACP_Software_1216.pdf" target="_blank" title="Fazer Download de ACP_Software_1216.pdf"><strong>ACP_Software_1216</strong></a></td>
        </tr>
      </tbody>  
      </table>
		</div>
</div>