<p dir="ltr">O objetivo deste PLC é efetuar análise e acompanhamento do consumo de CPU e do tráfego de rede do serviço Risco de Crédito como forma de dimensionar adequadamente os equipamentos e recursos, possibilitando um nível de atendimento satisfatório do serviço oferecido.</p>

<div class="container-fluid">
    <div class="row">
     
      <div class="box">
        <div class="box-header with-border, text-center">
            <h3 style="background-color:DodgerBlue;"><strong>Relatórios de Planejamento de Capacidade 2017</strong></h3>
        </div>
  
      <table class="table table-bordered " >
          <tbody>
          <tr>
            <th style="text-align: center;">Mês</th>
            <th style="text-align: center;">Risco de Crédito</th>            
          </tr>
          
          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Janeiro</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="efe33678-bc63-4da5-bb62-e1f6a97f4b63" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/efe33678-bc63-4da5-bb62-e1f6a97f4b63/media/ACP_HE_Basileia_0117.pdf" target="_blank" title="Fazer Download de ACP_HE_Basileia_0117.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/> <strong>ACP_HE_Basileia_0117.pdf</strong></a></td>
          </tr>
           
          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Fevereiro</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="1d72d7b2-547b-4176-8c30-72fccefae6b5" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/1d72d7b2-547b-4176-8c30-72fccefae6b5/media/ACP_HE_Basileia_0217.pdf" target="_blank" title="Fazer Download de ACP_HE_Basileia_0217.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/><strong> ACP_HE_Basileia_0217.pdf</strong></a></td>
          </tr>
               
          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Março</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="879b37cf-c19d-4fb5-9b34-00e739c4da52" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/879b37cf-c19d-4fb5-9b34-00e739c4da52/media/ACP_HE_Basileia_0317.pdf" target="_blank" title="Fazer Download de ACP_HE_Basileia_0317.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/> <strong>ACP_HE_Basileia_0317.pdf</strong></a></td>
          </tr>
           
          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Abril</td>
            <td style="width: 200px;  text-align: center;">ACP_HE_Basileia_0417</td> 
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Maio</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="d25260ce-3301-45e8-bbb7-edab6e43cd03" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/d25260ce-3301-45e8-bbb7-edab6e43cd03/media/ACP_HE_Basileia_0517.pdf" target="_blank" title="Fazer Download de ACP_HE_Basileia_0517.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/><strong> ACP_HE_Basileia_0517.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Junho</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="4f6dd06e-a384-4aa7-b4e5-dc74b3d5bea2" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/4f6dd06e-a384-4aa7-b4e5-dc74b3d5bea2/media/ACP_HE_Basileia_0617.pdf" target="_blank" title="Fazer Download de ACP_HE_Basileia_0617.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/><strong> ACP_HE_Basileia_0617.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Julho</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="f3d9638b-ab2c-4630-b1fd-1602fdaa8ec2" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/f3d9638b-ab2c-4630-b1fd-1602fdaa8ec2/media/ACP_HE_Basileia_0717.pdf" target="_blank" title="Fazer Download de ACP_HE_Basileia_0717.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/><strong>ACP_HE_Basileia_0717.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Agosto</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="5e5120bd-6ef4-4b66-b661-b45899c30098" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/5e5120bd-6ef4-4b66-b661-b45899c30098/media/ACP_HE_Basileia_0817.pdf" target="_blank" title="Fazer Download de ACP_HE_Basileia_0817.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/><strong>ACP_HE_Basileia_0817.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Setembro</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="0908c318-c2db-46d2-9248-56b7ced3e094" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/0908c318-c2db-46d2-9248-56b7ced3e094/media/ACP_HE_Basileia_0917.pdf" target="_blank" title="Fazer Download de ACP_HE_Basileia_0917.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/><strong>ACP_HE_Basileia_0917.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Outubro</td>
            <td style="width: 200px;  text-align: center;">ACP_HE_Basileia_1017</td>                 
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Novembro</td>
            <td style="width: 200px;  text-align: center;">ACP_HE_Basileia_1117</td>                
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Dezembro</td>
            <td style="width: 200px;  text-align: center;">ACP_HE_Basileia_1217</td>                
          </tr>

          </tbody>
      </table>
    </div>
  </div>
</div> 

     