
<div class="container-fluid">
		<div class="row">
		 
			<div class="box">
				<div class="box-header with-border, text-center">
						<h3 style="background-color:DodgerBlue;"><strong>Acompanhamento Disco </strong></h3>
			  </div>
	
			<table class="table table-bordered " >
				  <tbody>					
					  <tr>
                <td colspan="2" style="overflow: hidden; width: 250px; text-align: center;" ><span style="font-size:16px;"><strong>2017</strong></span></td>
            </tr>

            <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Janeiro</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="6357d51d-9f0b-4869-983e-4ce19c365ac3" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/6357d51d-9f0b-4869-983e-4ce19c365ac3/media/ACP_MF_DISCO_0117.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_0117.pdf"><strong>ACP_MF_DISCO_0117</strong></a></td>
            </tr>
            <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Fevereiro</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="20bfcfad-af16-470c-91a6-2875c04dd053" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/20bfcfad-af16-470c-91a6-2875c04dd053/media/ACP_MF_DISCO_0217.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_0217.pdf"><strong>ACP_MF_DISCO_0217</strong></a></td>
            </tr>    
            <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Março</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="5a6a4535-bdfb-4288-9f08-f79f49c48c28" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/5a6a4535-bdfb-4288-9f08-f79f49c48c28/media/ACP_MF_DISCO_0317.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_0317.pdf"><strong>ACP_MF_DISCO_0317</strong></a></td>
            </tr> 
            <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Abril</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="912c39a7-1dbe-4729-aace-785548c3d130" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/912c39a7-1dbe-4729-aace-785548c3d130/media/ACP_MF_DISCO_0417.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_0417.pdf"><strong>ACP_MF_DISCO_0417</strong></a></td>
            </tr>
            <tr >
                  <td style="overflow: hidden; width: 250px; text-align: center;">Maio</td>
                  <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="8d8e30c8-182c-47b9-ba57-293d4b239bce" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/8d8e30c8-182c-47b9-ba57-293d4b239bce/media/ACP_MF_DISCO_0517.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_0517.pdf"><strong>ACP_MF_DISCO_0517</strong></a></td>
            </tr>
            <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Junho</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="9b140c88-0b56-4c6e-bb54-52bf54ace914" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/9b140c88-0b56-4c6e-bb54-52bf54ace914/media/PLC_MF_DISCO_0617.pdf" target="_blank" title="Fazer Download de PLC_MF_DISCO_0617.pdf"><strong>PLC_MF_DISCO_0617</strong></a></td>
          </tr>
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Julho</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="ae94c5c5-e88d-4439-8722-f2aed59e7e1b" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/ae94c5c5-e88d-4439-8722-f2aed59e7e1b/media/ACP_MF_DISCO_0717.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_0717.pdf"><strong>ACP_MF_DISCO_0717</strong></a></td>
          </tr>
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Agosto</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="be903b1b-5e0a-43a7-a856-1d32e2f41ff2" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/be903b1b-5e0a-43a7-a856-1d32e2f41ff2/media/ACP_MF_DISCO_0817.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_0817.pdf"><strong>ACP_MF_DISCO_0817</strong></a></td>
          </tr>
          <tr >
              <td colspan="2" style="overflow: hidden; width: 250px; text-align: center;" ><span style="font-size:16px;"><strong>2016</strong></span></td>
          </tr>

          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Janeiro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="3f8d2c5d-104a-4446-b59b-bdd637e1c32a" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/3f8d2c5d-104a-4446-b59b-bdd637e1c32a/media/PLC_MF_DISCO_0116.pdf" target="_blank" title="Fazer Download de PLC_MF_DISCO_0116.pdf"><strong>PLC_MF_DISCO_0116</strong></a></td>
          </tr>
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Fevereiro</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="93ceab2e-9da2-444b-a11e-8802bae14822" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/93ceab2e-9da2-444b-a11e-8802bae14822/media/ACP_MF_DISCO_0216_V2.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_0216_V2.pdf"><strong>ACP_MF_DISCO_0216</strong></a></td>
          </tr>    
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Março</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="c1288ceb-e3dd-4712-87ce-ccf9126f3f5a" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/c1288ceb-e3dd-4712-87ce-ccf9126f3f5a/media/ACP_MF_DISCO_0316.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_0316.pdf"><strong>ACP_MF_DISCO_0316</strong></a></td>
          </tr> 
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Abril</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="76c9838e-c2eb-4a74-805e-e89174252fcb" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/76c9838e-c2eb-4a74-805e-e89174252fcb/media/ACP_MF_DISCO_0416.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_0416.pdf"><strong>ACP_MF_DISCO_0416</strong></a></td>
          </tr>
          <tr >
                <td style="overflow: hidden; width: 250px; text-align: center;">Maio</td>
                <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="52b3a580-23ab-4866-8199-b79cb007fd70" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/52b3a580-23ab-4866-8199-b79cb007fd70/media/ACP_MF_DISCO_0516.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_0516.pdf"><strong>ACP_MF_DISCO_0516</strong></a></td>
          </tr>
          <tr >
              <td style="overflow: hidden; width: 250px; text-align: center;">Junho</td>
              <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="e74b3acd-f274-42f4-91b9-69837d7b392d" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/e74b3acd-f274-42f4-91b9-69837d7b392d/media/PLC_MF_DISCO_0616.pdf" target="_blank" title="Fazer Download de PLC_MF_DISCO_0616.pdf"><strong>PLC_MF_DISCO_0616</strong></a></td>
        </tr>
        <tr >
            <td style="overflow: hidden; width: 250px; text-align: center;">Julho</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="bcef2f98-77b4-47da-83c2-6872ed4a5de1" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/bcef2f98-77b4-47da-83c2-6872ed4a5de1/media/ACP_MF_DISCO_0716.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_0716.pdf"><strong>ACP_MF_DISCO_0716</strong></a></td>
        </tr>
        <tr >
            <td style="overflow: hidden; width: 250px; text-align: center;">Agosto</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="b940488a-d8ec-4ce7-833b-cd52b3f796db" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/b940488a-d8ec-4ce7-833b-cd52b3f796db/media/ACP_MF_DISCO_0816.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_0816.pdf"><strong>ACP_MF_DISCO_0816</strong></a></td>
        </tr>
        <tr >
            <td style="overflow: hidden; width: 250px; text-align: center;">Setembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="d93f8257-fdd6-41a1-b62a-2a04a127720a" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/d93f8257-fdd6-41a1-b62a-2a04a127720a/media/ACP_MF_DISCO_0916.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_0916.pdf"><strong>ACP_MF_DISCO_0916</strong></a></td>
        </tr>
        <tr >
            <td style="overflow: hidden; width: 250px; text-align: center;">Outubro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="4a339215-8d44-4aa7-8b61-4d2d995a023d" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/4a339215-8d44-4aa7-8b61-4d2d995a023d/media/ACP_MF_DISCO_1016.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_1016.pdf"><strong>ACP_MF_DISCO_1016</strong></a></td>
        </tr>
        <tr >
            <td style="overflow: hidden; width: 250px; text-align: center;">Novembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="0e30eff3-0178-4647-84a2-4a7dcc3eb7d9" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/0e30eff3-0178-4647-84a2-4a7dcc3eb7d9/media/ACP_MF_DISCO_1116.pdf" target="_blank" title="Fazer Download de ACP_MF_DISCO_1116.pdf"><strong>ACP_MF_DISCO_1116</strong></a></td>
        </tr>
        <tr >
            <td style="overflow: hidden; width: 250px; text-align: center;">Dezembro</td>
            <td style="overflow: hidden; width: 250px; text-align: center; "><a _ic_files_uuid="fb31cd26-1d27-48fb-b5b5-e298c590f497" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/fb31cd26-1d27-48fb-b5b5-e298c590f497/media/PLC_MF_DISCO_1216.pdf" target="_blank" title="Fazer Download de PLC_MF_DISCO_1216.pdf"><strong>PLC_MF_DISCO_1216</strong></a></td>
        </tr>

				</tbody>
		</table>
		</div>  
  </div>
  