<div class="container-fluid">
	<div class="row">
	 
		<div class="box">
			<div class="box-header with-border, text-center">
					<h3 style="background-color:DodgerBlue;"><strong>Acompanhamento CIP</strong></h3>
		  </div>

		<table class="table table-bordered " >
			<tbody>					
		<tr>
			<td colspan="3" style="overflow: hidden; width: 250px; text-align: center;" ><span style="font-size:16px;"><strong>2017</strong></span></td>
		</tr>
		
		<tr>
		<td>Janeiro</td>
			  <td>
			  <p><a _ic_files_uuid="c51af6c6-47d3-41a7-b80b-5dd45b3759f1" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/c51af6c6-47d3-41a7-b80b-5dd45b3759f1/media/ACP_MF_CIP_0117.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_0117.pdf"><strong>ACP_MF_CIP_0117</strong></a></p>
			  <p><a _ic_files_uuid="01d6d4e2-4dcb-4811-92e4-c8eca5d7e13e" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/01d6d4e2-4dcb-4811-92e4-c8eca5d7e13e/media/ACP_Proje%C3%A7%C3%A3o_CIP_0117.pdf" target="_blank" title="Fazer Download de ACP_Projeção_CIP_0117.pdf"><strong>ACP_Projeção_CIP_0117</strong></a></p>	
		</td>
	 	      <td colspan="1" rowspan="6" class="text-center"><a _ic_files_uuid="db46e2cb-0411-430e-bfee-2e334b639044" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/db46e2cb-0411-430e-bfee-2e334b639044/media/PLC_MF_CIP_0117.pdf" target="_blank" title="Fazer Download de PLC_MF_CIP_0117.pdf"><strong>PLC_MF_CIP_0117</strong></a></td>		 
		</tr>
		
		<tr>
		<td>Fevereiro</td>
		     <td>
		     <p><a _ic_files_uuid="d79702df-1641-4ae8-8e2d-7fe048776dfe" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/d79702df-1641-4ae8-8e2d-7fe048776dfe/media/ACP_MF_CIP_0217.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_0217.pdf"><strong>ACP_MF_CIP_0217</strong></a></p>
			 <p><a _ic_files_uuid="117077dc-1660-4ef6-ac2c-b1531a183e83" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/117077dc-1660-4ef6-ac2c-b1531a183e83/media/ACP_Proje%C3%A7%C3%A3o_CIP_0217.pdf" target="_blank" title="Fazer Download de ACP_Projeção_CIP_0217.pdf"><strong>ACP_Projeção_CIP_0217</strong></a></p>									
		</td>  
		</tr>
				
		<tr>
		<td>Março</td>
			<td>
		    <p><a _ic_files_uuid="ac6bacc9-932d-4aab-8df6-8867dca36505" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/ac6bacc9-932d-4aab-8df6-8867dca36505/media/ACP_MF_CIP_0317.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_0317.pdf"><strong>ACP_MF_CIP_0317</strong></a></p>
			<p><a _ic_files_uuid="239c76c6-9ab8-4137-ae85-1baf8ff2bfa6" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/239c76c6-9ab8-4137-ae85-1baf8ff2bfa6/media/ACP_Proje%C3%A7%C3%A3o_CIP_0317.pdf" target="_blank" title="Fazer Download de ACP_Projeção_CIP_0317.pdf"><strong>ACP_Projeção_CIP_0317</strong></a></p>									
		</td>   				    
		</tr>

		<tr>
		<td>Abril</td>
			<td>
			<p><a _ic_files_uuid="38d4decc-6d45-403b-8846-74709ef1ec64" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/38d4decc-6d45-403b-8846-74709ef1ec64/media/ACP_MF_CIP_0417.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_0417.pdf"><strong>ACP_MF_CIP_0417</strong></a></p>
			<p><a _ic_files_uuid="38d4decc-6d45-403b-8846-74709ef1ec64" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/38d4decc-6d45-403b-8846-74709ef1ec64/media/ACP_MF_CIP_0417.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_0417.pdf"><strong>ACP_MF_CIP_0417</strong></a></p>
		</td> 					
		</tr>
	
		<tr>
		<td>Maio</td>
			<td colspan="1" rowspan="8" style="overflow: hidden; width: 227px; text-align: center; "><a _ic_files_uuid="38d4decc-6d45-403b-8846-74709ef1ec64" _ic_source="files" href="https://bam.bb.com.br/spotfire/wp/render/830251543493/analysis?file=/[Restrita]/VITEC/UOS/GESIT/Plan%20Cap/Mainframe/Acompanhamento%20-%20CIP" rel="noopener noreferrer" target="_blank" title="Fazer Download de ACP_MF_CIP_0417.pdf"><strong>*ACP_MF_CIP</strong></a></td>	 										
		</tr>

		<tr>
		<td>Junho</td>		   						
		</tr>

		<tr>
		<td>Julho</td>	
			<td colspan="1" rowspan="6" style="overflow: hidden; width: 382px; text-align: center; "><a _ic_files_uuid="abd3219e-4c8c-4083-ad7b-ef3248e15985" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/abd3219e-4c8c-4083-ad7b-ef3248e15985/media/PLC_MF_CIP_0617.pdf" target="_blank" title="Fazer Download de PLC_MF_CIP_0617.pdf"><strong>PLC_MF_CIP_0617</strong></a></td>	   						
		</tr>
	
		<tr>
		<td>Agosto</td>		   						
		</tr>

		<tr>
		<td>Setembro</td>		   						
		</tr>

		<tr>
		<td>Outubro</td>		   												
		</tr>

		<tr>
		<td>Novembro</td>		   												
		</tr>
		
		<tr>
		<td>Dezembro</td>		   						
		</tr>

		<tr>
		<td colspan="3" style="overflow: hidden; width: 250px; text-align: center;" ><span style="font-size:16px;"><strong>2016</strong></span></td>
		</tr>	
				
		<tr>
		<td>Janeiro</td>
			<td> <a _ic_files_uuid="6306ad14-4970-447b-8095-1da51ba06c55" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/6306ad14-4970-447b-8095-1da51ba06c55/media/ACP_MF_CIP_0116_V2.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_0116_V2.pdf"><strong>ACP_MF_CIP_0116</strong></a></td>
			<td colspan="1" rowspan="6" style="overflow: hidden; width: 250px; text-align: center;"><a _ic_files_uuid="1efcd142-d926-463d-af58-5f9529008c5d" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/1efcd142-d926-463d-af58-5f9529008c5d/media/PLC_MF_CIP_0116.pdf" target="_blank" title="Fazer Download de PLC_MF_CIP_0116.pdf"><strong>PLC_MF_CIP_0116</strong></a></td>
		</tr>

		<tr>
		<td>Fevereiro</td>
			<td> <a _ic_files_uuid="93c7f69d-3699-4cb6-abec-7c0cc3bac6ab" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/93c7f69d-3699-4cb6-abec-7c0cc3bac6ab/media/ACP_MF_CIP_0216_V2.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_0216_V2.pdf"><strong>ACP_MF_CIP_0216</strong></a></td>
		</tr>
							
		<tr>
		<td>Março</td>
			<td ><a _ic_files_uuid="c67edea8-ab37-4216-8a83-a630a5e107e6" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/c67edea8-ab37-4216-8a83-a630a5e107e6/media/ACP_MF_CIP_0316_V2.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_0316_V2.pdf"><strong>ACP_MF_CIP_0316</strong></a></td>
		</tr>
						
		<tr>
		<td>Abril</td>
		  	<td ><a _ic_files_uuid="f8ac1363-a976-4733-b135-a4f673ee5a07" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/f8ac1363-a976-4733-b135-a4f673ee5a07/media/ACP_MF_CIP_0416.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_0416.pdf"><strong>ACP_MF_CIP_0416</strong></a></td>	
		</tr>	

		<tr>
		<td>Maio</td>
			<td ><a _ic_files_uuid="9e8c60cc-ef3e-42d7-a387-af6aa4e761a7" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/9e8c60cc-ef3e-42d7-a387-af6aa4e761a7/media/ACP_MF_CIP_0516%20v2.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_0516 v2.pdf"><strong>ACP_MF_CIP_0516</strong></a></td>
		</tr>	

		<tr>
		<td>Junho</td>
			<td ><a _ic_files_uuid="74d99683-c5ca-4def-9239-4b9633f1a95c" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/74d99683-c5ca-4def-9239-4b9633f1a95c/media/ACP_MF_CIP_0616.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_0616.pdf"><strong>ACP_MF_CIP_0616</strong></a></td>
		</tr>	
		
		<tr>
		<td>Julho</td>
			<td ><a _ic_files_uuid="4376d381-d7e7-49ae-97b8-318a593311fd" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/4376d381-d7e7-49ae-97b8-318a593311fd/media/ACP_MF_CIP_0716.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_0716.pdf"><strong>ACP_MF_CIP_0716</strong></a></td>
			<td colspan="1" rowspan="6" style="overflow: hidden; width: 250px; text-align: center;"><a _ic_files_uuid="93068f53-26aa-4da5-a1a3-e67c5201fecb" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/93068f53-26aa-4da5-a1a3-e67c5201fecb/media/PLC_MF_CIP_0716.pdf" target="_blank" title="Fazer Download de PLC_MF_CIP_0716.pdf"><strong>PLC_MF_CIP_0716</strong></a></td>
		</tr>
	
		<tr>
		<td>Agosto</td>
		<td>
			<p><a _ic_files_uuid="c0199962-cbe5-4372-b3f5-2534b782dd88" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/c0199962-cbe5-4372-b3f5-2534b782dd88/media/ACP_MF_CIP_0916.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_0916.pdf"><strong>ACP_MF_CIP_0916</strong></a></p>
			<p><a _ic_files_uuid="5cc8a1db-4476-45ff-a716-8992c6441466" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/5cc8a1db-4476-45ff-a716-8992c6441466/media/ACP_Proje%C3%A7%C3%A3o_CIP_0816.pdf" target="_blank" title="Fazer Download de ACP_Projeção_CIP_0816.pdf"><strong>ACP_Projeção_CIP_0816</strong></a></p>
		</td> 					
		</tr>

		<tr>
		<td>Setembro</td>
		<td>
			<p><a _ic_files_uuid="88b1a134-ec43-47ca-9c57-0b4cde56c95b" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/88b1a134-ec43-47ca-9c57-0b4cde56c95b/media/ACP_MF_CIP_0816.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_0816.pdf"><strong>ACP_MF_CIP_0816</strong></a></p>
			<p><a _ic_files_uuid="e4507f91-477f-4932-913a-9860eae4ab0b" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/e4507f91-477f-4932-913a-9860eae4ab0b/media/ACP_Proje%C3%A7%C3%A3o_CIP_0916.pdf" target="_blank" title="Fazer Download de ACP_Projeção_CIP_0916.pdf"><strong>ACP_Projeção_CIP_0916</strong></a></p>
		</td> 					
		</tr>
		
		<tr>
		<td>Outubro</td>
		<td>
			<p><a _ic_files_uuid="c1978077-409f-4325-811d-56e82898cc25" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/c1978077-409f-4325-811d-56e82898cc25/media/ACP_MF_CIP_1016.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_1016.pdf"><strong>ACP_MF_CIP_1016</strong></a></p>
			<p><a _ic_files_uuid="d5e194a7-aa57-4149-886b-83b179b79152" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/d5e194a7-aa57-4149-886b-83b179b79152/media/ACP_Proje%C3%A7%C3%A3o_CIP_1016.pdf" target="_blank" title="Fazer Download de ACP_Projeção_CIP_1016.pdf"><strong>ACP_Projeção_CIP_1016</strong></a></p>
		</td> 					
		</tr>
		
		<tr>
		<td>Novembro</td>
		<td>
			<p><a _ic_files_uuid="6adc6705-859b-4e4a-966f-8e028dc30c08" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/6adc6705-859b-4e4a-966f-8e028dc30c08/media/ACP_MF_CIP_1116.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_1116.pdf"><strong>ACP_MF_CIP_1116</strong></a><a href="https://connections.bb.com.br/files/app/file/6adc6705-859b-4e4a-966f-8e028dc30c08" target="_blank" title="Visualizar detalhes de ACP_MF_CIP_1116.pdf"> </a></p>
			<p><a _ic_files_uuid="90892d7c-8154-458a-999a-e20b56bd4aca" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/90892d7c-8154-458a-999a-e20b56bd4aca/media/ACP_Proje%C3%A7%C3%A3o_CIP_1116.pdf" target="_blank" title="Fazer Download de ACP_Projeção_CIP_1116.pdf"><strong>ACP_Projeção_CIP_1116</strong></a></p>
		</td> 							
		</tr>

		<tr>
		<td>Dezembro</td>
		<td>
			<p><a _ic_files_uuid="6961afa8-12e8-45ed-b457-9943f04d173f" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/6961afa8-12e8-45ed-b457-9943f04d173f/media/ACP_MF_CIP_1216.pdf" target="_blank" title="Fazer Download de ACP_MF_CIP_1216.pdf"><strong>ACP_MF_CIP_1216</strong></a></p>
			<p><a _ic_files_uuid="76380b6e-2f7c-47d1-8fcd-a90e15dc0f49" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/359e4fb2-5f04-49d9-b7c6-5445e628441d/document/76380b6e-2f7c-47d1-8fcd-a90e15dc0f49/media/ACP_Proje%C3%A7%C3%A3o_CIP_1216.pdf" target="_blank" title="Fazer Download de ACP_Projeção_CIP_1216.pdf"><strong>ACP_Projeção_CIP_1216</strong></a></p>
		</td> 					
	    </tr>										

		</table>
	</div>
</div>
	