<p dir="ltr">O objetivo deste Planejamento de Capacidade - PLC é acompanhar o comportamento da utilização dos circuitos de comunicação (links) IP MPLS, Internet e VPLS da rede BBWorldnet que atendem as agências do exterior a fim de dimensionar melhor os recursos e prestar um nível de atendimento satisfatório.</p>

<div class="container-fluid">
    <div class="row">
     
      <div class="box">
        <div class="box-header with-border, text-center">
            <h3 style="background-color:DodgerBlue;"><strong>Relatórios de Planejamento de Capacidade 2017</strong></h3>
        </div>
  
      <table class="table table-bordered " >
          <tbody>
          <tr>
            <th style="text-align: center;">Mês</th>
            <th style="text-align: center;">BBWorldnet</th>            
          </tr>
          
          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Janeiro</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="412f3d64-2d46-471b-826d-382d4991275e" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44/document/412f3d64-2d46-471b-826d-382d4991275e/media/PLC_RE_BBWorldnet_0117.pdf" target="_blank" title="Fazer Download de PLC_RE_BBWorldnet_0117.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/> <strong>PLC_RE_BBWorldnet_0117.pdf</strong></a></td>
          </tr>
           
          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Fevereiro</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="9da2225c-748d-4791-a487-c210263163b3" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/9da2225c-748d-4791-a487-c210263163b3/media/PLC_RE_BBWorldnet_0217.pdf" target="_blank" title="Fazer Download de PLC_RE_BBWorldnet_0217.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/> <strong>PLC_RE_BBWorldnet_0117.pdf</strong></a></td>
          </tr>
               
          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Março</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="f332e2c3-a2da-41a8-8322-28c8253c2e5f" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/f332e2c3-a2da-41a8-8322-28c8253c2e5f/media/PLC_RE_BBWorldnet_0317.pdf" target="_blank" title="Fazer Download de PLC_RE_BBWorldnet_0317.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/> <strong>PLC_RE_BBWorldnet_0317.pdf</strong></a></td>
          </tr>
           
          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Abril</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="d97b7cf0-2f82-4072-93c5-da612c8dd960" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/b81af7d8-a795-47a2-ab46-4f9b6bca9704/document/d97b7cf0-2f82-4072-93c5-da612c8dd960/media/PLC_RE_BBWorldnet_0417.pdf" target="_blank" title="Fazer Download de PLC_RE_BBWorldnet_0417.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/><strong>PLC_RE_BBWorldnet_0417.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Maio</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="fd56acaf-b7ee-4774-ad21-619897b623eb" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/b81af7d8-a795-47a2-ab46-4f9b6bca9704/document/fd56acaf-b7ee-4774-ad21-619897b623eb/media/PLC_RE_BBWorldnet_0517.pdf" target="_blank" title="Fazer Download de PLC_RE_BBWorldnet_0517.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/><strong>PLC_RE_BBWorldnet_0517.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Junho</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="e2a62ad2-e7fd-4680-a759-bbf29e67907a" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/b81af7d8-a795-47a2-ab46-4f9b6bca9704/document/e2a62ad2-e7fd-4680-a759-bbf29e67907a/media/PLC_RE_BBWorldnet_0617.pdf" target="_blank" title="Fazer Download de PLC_RE_BBWorldnet_0617.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/><strong>PLC_RE_BBWorldnet_0617.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Julho</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="718b84b7-01ab-4a2f-b4d0-ab09f12b76de" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/b81af7d8-a795-47a2-ab46-4f9b6bca9704/document/718b84b7-01ab-4a2f-b4d0-ab09f12b76de/media/PLC_RE_BBWorldnet_0717.pdf" target="_blank" title="Fazer Download de PLC_RE_BBWorldnet_0717.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/><strong>PLC_RE_BBWorldnet_0717.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Agosto</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="b8557c58-7e47-4e17-837f-c7c2a9d869c7" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/b81af7d8-a795-47a2-ab46-4f9b6bca9704/document/b8557c58-7e47-4e17-837f-c7c2a9d869c7/media/PLC_RE_BBWorldnet_0817.pdf" target="_blank" title="Fazer Download de PLC_RE_BBWorldnet_0817.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/><strong>PLC_RE_BBWorldnet_0817.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Setembro</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="2d11af7d-44fc-4fa4-a8ef-daedb7b17ffd" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/b81af7d8-a795-47a2-ab46-4f9b6bca9704/document/2d11af7d-44fc-4fa4-a8ef-daedb7b17ffd/media/PLC_RE_BBWorldnet_0917.pdf" target="_blank" title="Fazer Download de PLC_RE_BBWorldnet_0917.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/><strong>PLC_RE_BBWorldnet_0917.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Outubro</td>
            <td style="width: 200px;  text-align: center;"><a _ic_files_uuid="7626d1f4-f9d7-40bd-9736-4836b796ce0f" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/b81af7d8-a795-47a2-ab46-4f9b6bca9704/document/7626d1f4-f9d7-40bd-9736-4836b796ce0f/media/PLC_RE_BBWorldnet_1017.pdf" target="_blank" title="Fazer Download de PLC_RE_BBWorldnet_1017.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737"/><strong>PLC_RE_BBWorldnet_1017.pdf</strong></a></td>
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Novembro</td>
            <td style="width: 200px;  text-align: center;">PLC_RE_BBWorldnet_1117</td>                
          </tr>

          <tr>
            <td style="overflow: hidden; width: 90px; text-align: center;">Dezembro</td>
            <td style="width: 200px;  text-align: center;">PLC_RE_BBWorldnet_1217</td>                
          </tr>

          </tbody>
      </table>
    </div>
  </div>
</div>