<div class="container-fluid">
    <div class="row">
     
        <div class="box">
            <div class="box-header with-border, text-center">
                    <h3 style="background-color:DodgerBlue;"><strong>Caderno Plataforma</strong></h3>
          </div>

          <table class="table table-hover table-bordered" >
              <tbody>
                <tr >
                  <th>#</th>
                  <th>Período</th>
                  <th>Caderno</th>
                </tr>

                <tr >
                  <td>1.</td>
                  <td>Janeiro 2019 </td>
                  <td></td>   
                </tr>

                <tr >
                    <td>2.</td>
                    <td>Fevereiro 2019 </td>
                    <td></td>   
                </tr>

                <tr >
                    <td>3.</td>
                    <td>Março 2019 </td>
                    <td></td>   
                </tr>
  
                <tr >
                    <td>4.</td>
                    <td>Abril 2019 </td>
                    <td> <a href="https://connections.bb.com.br/files/app/file/b54d5b8a-c725-4668-b038-939481f456dc"><strong>Caderno_Plataforma_042019.pdf</strong></a></td>   
                </tr>
                
                <tr >
                    <td>5.</td>
                    <td>Maio 2019 </td>
                    <td> <a href="https://connections.bb.com.br/files/app/file/264cadd5-6f9c-4f3a-9e1a-9bdaca7f1511"><strong>Caderno_Plataforma_052019.pdf</strong></a></td>     
                </tr>

                <tr >
                    <td>6.</td>
                    <td>Junho 2019 </td>
                    <td> <a href="https://connections.bb.com.br/files/app/file/c1c3de47-f7ed-46c1-af26-0b606ae82d3c"><strong>Caderno_Plataforma_062019.pdf</strong></a></td>        
                </tr>
                
                <tr >
                    <td>7.</td>
                    <td>Julho 2019 </td>
                    <td></td>   
                </tr>
               
                <tr >
                    <td>8.</td>
                    <td>Agosto 2019 </td>
                    <td></td>   
                </tr>

                <tr >
                    <td>9.</td>
                    <td>Setembro 2019 </td>                  
                    <td></td>   
                </tr>

                <tr >
                    <td>10.</td>
                    <td>Outubro 2019 </td>
                    <td></td>   
                </tr>

                <tr >
                    <td>11.</td>
                    <td>Novembro 2019 </td>
                    <td></td>   
                </tr>

                <tr >
                    <td>12.</td>
                    <td>Dezembro 2019 </td>
                    <td></td>   
                </tr>

              </tbody>
            </table>
    </div>
  </div>





