<p dir="ltr">O objetivo deste relatório é acompanhar o comportamento da utilização dos Pontos Eletrônicos de Presença – PEPs da Rede REMUS EMBRATEL a fim de dimensionar adequadamente os recursos e possibilitar um nível satisfatório de qualidade da rede.</p>

<div class="container-fluid">
    <div class="row">
     
      <div class="box">
        <div class="box-header with-border, text-center">
            <h3 style="background-color:DodgerBlue;"><strong>Relatórios de Planejamento de Capacidade 2017</strong></h3>
        </div>
  
      <table class="table table-bordered " >
          <tbody>
          <tr>
            <th style="text-align: center;">Mês</th>
            <th style="text-align: center;">Links Embratel</th>
            <th style="text-align: center;">Links Oi</th>
          </tr>
          
          <tr>
            <td style="overflow: hidden; width: 110px; text-align: center;">Janeiro</td>
            <td style="width: 210px;  text-align: center;"><a _ic_files_uuid="fc0f46d0-a172-4784-8118-de3e6044cab8" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/fc0f46d0-a172-4784-8118-de3e6044cab8/media/ACP_RE_REMUS%20EBT_0117.pdf" target="_blank" title="Fazer Download de ACP_RE_REMUS EBT_0117.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" /> <strong>ACP_RE_REMUS EBT_0117.pdf</strong></a></td>
            <td style="width: 180px; text-align: center;">Sem Dados da Operadora</td>        
          </tr>
           
          <tr>
            <td style="overflow: hidden; width: 110px; text-align: center;">Fevereiro</td>
            <td style="width: 210px;  text-align: center;"><a _ic_files_uuid="9e58f999-6578-4abf-994d-63e06b5b5c46" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/9e58f999-6578-4abf-994d-63e06b5b5c46/media/ACP_RE_REMUS%20EBT_0217.pdf" target="_blank" title="Fazer Download de ACP_RE_REMUS EBT_0217.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" /><strong> ACP_RE_REMUS EBT_0217.pdf</strong></a></td>
            <td style="width: 180px; text-align: center;">Sem Dados da Operadora</td>        
          </tr>
               
          <tr>
            <td style="overflow: hidden; width: 110px; text-align: center;">Março</td>
            <td style="width: 210px;  text-align: center;"><a _ic_files_uuid="59d2d356-db3e-4cd3-9752-450ac6ebcd30" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/4e586925-a462-44c2-826e-90aa3ae0659e/document/59d2d356-db3e-4cd3-9752-450ac6ebcd30/media/ACP_RE_REMUS%20EBT_0317.pdf" target="_blank" title="Fazer Download de ACP_RE_REMUS EBT_0317.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" /> <strong>ACP_RE_REMUS EBT_0317.pdf</strong></a></td>
            <td style="width: 180px; text-align: center;">Sem Dados da Operadora</td>        
          </tr>
           
          <tr>
            <td style="overflow: hidden; width: 110px; text-align: center;">Abril</td>
            <td style="width: 210px;  text-align: center;"><a _ic_files_uuid="533fb0d2-a3aa-43f7-9ac8-6b3afa412286" _ic_source="files" href="https://connections.bb.com.br/files/form/anonymous/api/library/b81af7d8-a795-47a2-ab46-4f9b6bca9704/document/533fb0d2-a3aa-43f7-9ac8-6b3afa412286/media/ACP_RE_REMUS%20EBT_0417.pdf" target="_blank" title="Fazer Download de ACP_RE_REMUS EBT_0417.pdf"><img aria-hidden="true" class="lconn-ftype16 lconn-ftype16-pdf" src="https://connections.bb.com.br/connections/resources/web/com.ibm.lconn.core.styles.oneui3/images/blank.gif?etag=20151204.202737" /><strong>ACP_RE_REMUS EBT_0417.pdf</strong></a></td>
            <td style="width: 180px; text-align: center;">Sem Dados da Operadora</td>        
          </tr>

          <tr>
            <td style="overflow: hidden; width: 110px; text-align: center;">Maio</td>
            <td style="width: 210px;  text-align: center;">ACP_RE_REMUS EBT_0517</td>
            <td style="width: 180px; text-align: center;">Sem Dados da Operadora</td>        
          </tr>

          <tr>
            <td style="overflow: hidden; width: 110px; text-align: center;">Junho</td>
            <td style="width: 210px;  text-align: center;">ACP_RE_REMUS EBT_0617</td>
            <td style="width: 180px; text-align: center;">Sem Dados da Operadora</td>        
          </tr>

          <tr>
            <td style="overflow: hidden; width: 110px; text-align: center;">Julho</td>
            <td style="width: 210px;  text-align: center;">ACP_RE_REMUS EBT_0717</td>
            <td style="width: 180px; text-align: center;">Sem Dados da Operadora</td>        
          </tr>

          <tr>
            <td style="overflow: hidden; width: 110px; text-align: center;">Agosto</td>
            <td style="width: 210px;  text-align: center;">ACP_RE_REMUS EBT_0817</td>
            <td style="width: 180px; text-align: center;">Sem Dados da Operadora</td>        
          </tr>

          <tr>
            <td style="overflow: hidden; width: 110px; text-align: center;">Setembro</td>
            <td style="width: 210px;  text-align: center;">ACP_RE_REMUS EBT_0917</td>
            <td style="width: 180px; text-align: center;">Sem Dados da Operadora</td>        
          </tr>

          <tr>
            <td style="overflow: hidden; width: 110px; text-align: center;">Outubro</td>
            <td style="width: 210px;  text-align: center;">ACP_RE_REMUS EBT_1017</td>
            <td style="width: 180px; text-align: center;">Sem Dados da Operadora</td>        
          </tr>

          <tr>
            <td style="overflow: hidden; width: 110px; text-align: center;">Novembro</td>
            <td style="width: 210px;  text-align: center;">ACP_RE_REMUS EBT_1117</td>
            <td style="width: 180px; text-align: center;">Sem Dados da Operadora</td>        
          </tr>

          <tr>
            <td style="overflow: hidden; width: 110px; text-align: center;">Dezembro</td>
            <td style="width: 210px;  text-align: center;">ACP_RE_REMUS EBT_1217</td>
            <td style="width: 180px; text-align: center;">Sem Dados da Operadora</td>        
          </tr>

          </tbody>
      </table>
    </div>
  </div>
</div> 

     